<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Confirmation</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Confirmation</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <app-item-cart [itemInCart]="itemInCart" (onItemInCartEditCompleted)="onItemInCartEditCompleted($event)"></app-item-cart>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row class="pt-2 pl-3 pr-3">
      <ion-col>
        <ion-label style="color: black;">
          Total Quantity: {{totalQuantity|number:'1.0'}}
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-label style="color: black;">
          Total Amount: {{totalAmount|number:'1.2'}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="small" (click)="nextStep()">
          Confirm
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
