<ion-header>
  <ion-toolbar>
    <ion-title>Item</ion-title>
    <ion-buttons slot="start" *ngIf="objectService.header.quotationId === 0">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="objectService.header.quotationId > 0">
      <ion-button (click)="backToDetail()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="!showImage">
      <ion-button (click)="toggleShowImage()">Grid</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="showImage">
      <ion-button (click)="toggleShowImage()">List</ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>
<ion-content>
  <div class="p-2">
    <app-item-catalog [keyId]="objectService.header.customerId" [locationId]="objectService.header.locationId" [fullMasterList]="objectService.fullMasterList" [useTax]="useTax" [objectHeader]="objectService.header" [precisionSales]="precisionSales" [isItemPriceTaxInclusive]="objectService.header.isItemPriceTaxInclusive" [maxPrecision]="objectService.header.maxPrecision" (onItemAdded)="onItemAdded($event)" [showImage]="showImage" [isSalesOrder]="false"></app-item-catalog>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
          View Cart ({{objectService.itemInCart.length|number:'1.0'}})
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>