<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/transactions/transfer-in"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="p-2" *ngIf="object">
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Document</ion-label>
    </ion-list-header>

    <ion-list class="list-custom animate__animated animate__fadeIn mt-2" lines="full">
      <ion-item button [detail]="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold"> Doc. Num.</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              {{object.interTransferNum}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold"> Doc. Date</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              {{object.trxDate|date:"dd/MM/yyyy"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold"> Received Date</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              {{object.receivedAt|date:"dd/MM/yyyy"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold"> From Location</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              {{object.locationId|idMapping:objectService.locationMasterList}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold"> To Location</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              {{object.toLocationId|idMapping:objectService.locationMasterList}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Line</ion-label>
    </ion-list-header>
    
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col size="8"class="ion-flex ion-margin-auto">
              <div class="ion-flex my-auto font-bold">Item</div>
            </ion-col>
            <ion-col size="2" class="ion-flex ion-margin-auto justify-content-center">
              <div class="ion-flex my-auto font-bold">Quantity</div>
            </ion-col>
            <ion-col size="2" class="ion-flex ion-margin-auto justify-content-center">
              <div class="ion-flex my-auto font-bold text-align-center">Received Qty</div>
            </ion-col>
          </ion-row>
        </ion-grid>        
      </ion-item>

      <ion-item-sliding #slidingItem *ngFor="let l of object.line let i = index">
        <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
          <ion-grid class="ion-no-padding py-2 pl-2">
            <ion-row>
              <ion-col size="8">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">{{l.itemCode}}</div>
                      <div class="ion-flex">
                        <span class="badge-green ion-text-wrap ion-flex my-auto px-1" *ngIf="l.xDesc"> {{l.xDesc}}</span>
                        <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="l.yDesc"> {{l.yDesc}}</span>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="ion-flex my-auto">{{l.itemDesc}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="ion-flex my-auto">{{l.barcode}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="1" class="ion-flex ion-margin-auto justify-content-center">
                <div class="ion-flex my-auto">{{l.qty}}</div>
              </ion-col>
              <ion-col size="1" class="ion-flex ion-margin-auto justify-content-center">
                <div class="ion-flex my-auto">{{l.qtyReceive}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-sliding>
      
    </ion-list>
  </div>
</ion-content>