<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Approvals</ion-title>    

    <ion-buttons slot="start">
      <ion-back-button text="Approvals" defaultHref="/approvals"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Approvals</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-transaction-processing [pendingObjects]="pendingObjects" [completedObjects]="completedObjects" (onObjectUpdated)="onObjectUpdated($event)" parentType="Sales-Order" processType="Approvals"></app-transaction-processing>

</ion-content>