<ion-header>
  <ion-toolbar>
    <ion-title>Generate OTP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/others"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content fulscreen>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-label class="label-title">Generate OTP</ion-label>
      </ion-toolbar>
    </ion-header>
    <div class="ion-padding">
      <ion-list class="list-custom" lines="none">
        <app-search-dropdown #usersDropdown title="Users" optionLabel="description" [searchDropdownList]="userSearchDropDownList" (onActionComplete)="onUserChanged($event)"></app-search-dropdown>
        <app-search-dropdown #validityDropdown title="Validity" optionLabel="description" [searchDropdownList]="validitySerachDropdownList" (onActionComplete)="onValidityChanged($event)" [hidden]="selectedUser==null"></app-search-dropdown>
        <app-search-dropdown #appsDropdown [hidden]="selectedValidity !== 'SINGLE'" title="App" optionLabel="description" [searchDropdownList]="appsSearchDropdownList" (onActionComplete)="onAppChanged($event)"></app-search-dropdown>
        <app-search-multi-dropdown #appsMultiDropdown [hidden]="selectedValidity !== 'MULTIPLE'" title="App" [showHeaderLabel]="true" [showBoldHeader]="false" [showCode]="true" optionLabel="description" [searchDropdownList]="appsSearchDropdownList" (onActionComplete)="onAppChanged($event)"></app-search-multi-dropdown>
      </ion-list>
      <ion-item lines="none" color="none">
        <ion-checkbox #checkBox slot="end" (ionChange)="onCheckBoxChecked($event)" [(ngModel)]="checkboxValue"></ion-checkbox>
        <ion-label>Default Expiry</ion-label>
      </ion-item>
        <app-calendar-input [hidden]="checkBox.checked" [date_value]="expiryDate" title="Expiry Date" (onDateSelected)="onDateSelected($event)"></app-calendar-input>
    </div>
</ion-content>
<ion-footer>
  <ion-item class="ion-justify-content-center ion-align-items-end" lines="none" *ngIf="generatedOtpCode" color="none">
    <ion-label>Copied OTP: {{generatedOtpCode}}</ion-label>
  </ion-item>
  <ion-toolbar class="ion-no-border">
    <ion-button class="ion-margin" expand="block" (click)="generateOtp()">Generate</ion-button>
  </ion-toolbar>
</ion-footer>