<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iDCP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">iDCP</ion-label>
    </ion-toolbar>
  </ion-header>

  <div class="p-2">

    <ion-list-header>
      <ion-label color="dark">Announcement</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="none">
      <ion-item *ngFor="let memo of dashboardData?.memo" (click)="showModal(memo)">
        <h6>{{memo?.header?.subject}}</h6>
      </ion-item>
    </ion-list>
    
    <hr class="hr-medium">

    <ion-list-header>
      <ion-label color="dark">Pending Task</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">

      <ion-item *ngIf="showQuotationReview && dashboardData?.quotationReviewCount?.pending > 0" (click)="goToManagement('quotation', 'reviews')">
        <ion-label>
          <h3>Quotation Review</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.quotationReviewCount?.pending|number:'1.0'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="showQuotationApproval && dashboardData?.quotationApprovalCount?.pending > 0" (click)="goToManagement('quotation', 'approvals')">
        <ion-label>
          <h3>Quotation Approval</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.quotationApprovalCount?.pending|number:'1.0'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="showSalesOrderReview && dashboardData?.salesOrderReviewCount?.pending > 0" (click)="goToManagement('sales-order', 'reviews')">
        <ion-label>
          <h3>Sales Order Review</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.salesOrderReviewCount?.pending|number:'1.0'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="showSalesOrderApproval && dashboardData?.salesOrderApprovalCount?.pending > 0" (click)="goToManagement('sales-order', 'approvals')">
        <ion-label>
          <h3>Sales Order Approval</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.salesOrderApprovalCount?.pending|number:'1.0'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="showPurchaseOrderReview && dashboardData?.purchaseOrderReviewCount?.pending > 0" (click)="goToManagement('purchase-order', 'reviews')">
        <ion-label>
          <h3>Purchase Order Review</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.purchaseOrderReviewCount?.pending|number:'1.0'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="showPurchaseOrderApproval && dashboardData?.purchaseOrderApprovalCount?.pending > 0" (click)="goToManagement('purchase-order', 'approvals')">
        <ion-label>
          <h3>Purchase Order Approval</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.purchaseOrderApprovalCount?.pending|number:'1.0'}}</ion-badge>
      </ion-item>
    </ion-list>
    
    <hr class="hr-medium">

    <ion-list-header>
      <ion-label color="dark">Current Month Transaction</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">

      <ion-item *ngIf="showQuotation" (click)="goToTransaction('quotation')">
        <ion-label>
          <h3>Quotation Issued</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.quotationList|sum:'grandTotal'|number:'1.2-2'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="showSalesOrder" (click)="goToTransaction('sales-order')">
        <ion-label>
          <h3>Sales Order Issued</h3>
        </ion-label>
        <ion-badge slot="end">{{dashboardData?.salesOrderList|sum:'grandTotal'|number:'1.2-2'}}</ion-badge>
      </ion-item>

    </ion-list>
    
    <hr class="hr-medium">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Item Last Sync: {{last_sync_datetime|date:'yyyy-MM-dd hh:mm:ss'}}</ion-label>
    </ion-list-header>

  </div>

</ion-content>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Detail</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="selectedAnnouncement">
      <div class="p-2">
        <ion-list-header class="ion-list-header-small">
          <ion-label>Subject</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="full">
          <ion-item>
            <ion-textarea [autoGrow]="true" [readonly]="true" [(ngModel)]="selectedAnnouncement.header.subject"></ion-textarea>
          </ion-item>
        </ion-list>
        <ion-list-header class="ion-list-header-small">
          <ion-label>Body</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="full">
          <ion-item>
            <span [innerHTML]="selectedAnnouncement.header.body | sanitizeHtml"></span>
          </ion-item>
        </ion-list>
        <ion-list-header class="ion-list-header-small">
          <ion-label>Attachment</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="full">
          <ion-item *ngFor="let a of selectedAnnouncement?.details" (click)="downloadPdf(a)">
            <ion-label>{{a.filesName}}</ion-label>
            <ion-icon slot="end" name="download-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>