<ion-header [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Scan Barcode</ion-title>
    <ion-buttons slot="start">
       <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [hidden]="scanActive">
   <div class="p-2">
      <app-barcode-scan-input #barcodescaninput (onItemAdd)="onItemAdd($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onDoneScanning($event)" [itemVariationXMasterList]="itemVariationXMasterList" [itemVariationYMasterList]="itemVariationYMasterList" [itemUomMasterList]="itemUomMasterList"></app-barcode-scan-input>
            
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="selectedItem">
         <ion-item button detail="false" class="no-ripple ion-no-padding">
            <ion-grid class="ion-no-padding p-2">
               <ion-row>
               <ion-col class="ion-flex ion-margin-auto">
                     <ion-grid class="ion-no-padding">
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div class="font-bold">{{selectedItem.itemBarcode}}</div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div class="ion-flex">
                                 {{selectedItem.itemCode}}
                                 <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="selectedItem.variationTypeCode === '0' && selectedItem.itemUomId">{{selectedItem.itemUomId|idMapping:itemUomMasterList}}</span>
                                 <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="selectedItem.itemVariationXId">{{selectedItem.itemVariationXId|idMapping:itemVariationXMasterList}}</span>
                                 <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="selectedItem.itemVariationYId">{{selectedItem.itemVariationYId|idMapping:itemVariationYMasterList}}</span>
                              </div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div class="ion-text-wrap">{{selectedItem.description}}</div>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>

   </div>
</ion-content>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
   <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
   </ion-col>
</ion-row>
<!-- Scanning box only appears when scanActive is true -->
<div class="scan-box" *ngIf="scanActive"></div>