<ion-header collapse="fade" [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Item</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="scanInput">
      <ion-button (click)="toggleInputMode()">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="!scanInput">
      <ion-button (click)="toggleInputMode()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [hidden]="scanActive">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Item</ion-label>
    </ion-toolbar>
  </ion-header><div class="p-2">
    <app-barcode-scan-input (onItemAdd)="onItemAdd($event)"></app-barcode-scan-input>
    <app-item-code-input-offline *ngIf="!scanInput" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList" (onItemAdd)="onItemsAdd($event)"></app-item-code-input-offline>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item-sliding #slidingItem *ngFor="let line of object?.details; let i = index">
        <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full" (click)="highlight(inputNumWithoutSo)">
          <ion-grid class="ion-no-padding py-2 pl-2">
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold">{{line.itemBarcode}}</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">                
                <ion-input #inputNumWithoutSo type="number" [min]="0" placeholder="0" [(ngModel)]="line.qtyRequest" (ionFocus)="highlight(inputNumWithoutSo)" (keypress)="eventHandler($event.keyCode)" (ionChange)="computeAllAmount(line)"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold">{{line.itemCode}}</div>
                <span class="badge-green px-1 mx-1 ion-flex" *ngIf="objectService.itemVariationXMasterList.length > 0 && line.itemVariationXId"> {{line.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                <span class="badge-purple px-1 mr-1 ion-flex" *ngIf="objectService.itemVariationYMasterList.length > 0 && line.itemVariationYId"> {{line.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div>{{line.description}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold">Unit Price</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold">Disc. Code</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                <div class="font-bold">Disc. Amt.</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                <div class="font-bold">SubTotal</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div *ngIf="object.header.isDisplayTaxInclusive">{{line.unitPrice}}</div>
                <div *ngIf="!object.header.isDisplayTaxInclusive">{{line.unitPriceExTax}}</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="ion-flex">
                  <div>{{line.discountGroupCode}}</div>
                  <div *ngIf="line.discountExpression"> [{{line.discountExpression}}]</div>
                </div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                <div *ngIf="object.header.isDisplayTaxInclusive">{{line.discountAmt|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                <div *ngIf="!object.header.isDisplayTaxInclusive">{{line.discountAmtExTax|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                <div >{{line.subTotal|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="primary" (click)="slidingItem.close(); showEditModal(line, i)"><ion-icon name="create-outline"></ion-icon></ion-item-option>
          <ion-item-option color="danger" (click)="slidingItem.close(); deleteLine(i)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    Save
  </ion-button>
</ion-footer>
<app-camera-scan-input [scanActive]="scanActive" [systemWideEAN13IgnoreCheckDigit]="systemWideEAN13IgnoreCheckDigit" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onDoneScanning($event)"></app-camera-scan-input>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" (ionModalDidDismiss)="onModalHide()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Info</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="cancelChanges()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="selectedItem">
      <div class="p-2">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
          <ion-label>{{selectedItem?.itemCode}} - {{selectedItem?.description}}</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item>
            <ion-label><div>Unit Price</div></ion-label>
            <ion-input *ngIf="object.header.isDisplayTaxInclusive" #unitPrice slot="end" class="font-size-small ion-text-right ion-no-padding-end" inputmode="numeric" enterkeyhint="done" type="number" (ionFocus)="highlight(unitPrice)" [(ngModel)]="selectedItem.unitPrice" (ionBlur)="computeUnitPriceExTax(selectedItem)" [disabled]="restrictTrxFields['unitPrice'] && !selectedItem.isPricingApproval"></ion-input>
            <ion-input *ngIf="!object.header.isDisplayTaxInclusive" #unitPrice slot="end" class="font-size-small ion-text-right ion-no-padding-end" inputmode="numeric" enterkeyhint="done" type="number" (ionFocus)="highlight(unitPrice)" [(ngModel)]="selectedItem.unitPriceExTax" (ionBlur)="computeUnitPrice(selectedItem)" [disabled]="restrictTrxFields['unitPriceExTax'] && !selectedItem.isPricingApproval"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><div>Disc. Code</div></ion-label>
            <ion-select interface="action-sheet" slot="end" [(ngModel)]="selectedItem.discountGroupCode" (ionChange)="onDiscCodeChanged(selectedItem, $event)" [disabled]="restrictTrxFields['discountGroupCode'] && !selectedItem.isPricingApproval">
              <ion-select-option *ngFor="let s of objectService.discountGroupMasterList" [value]="s.code">{{s.code}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label><div>Disc. Expr.</div></ion-label>
            <ion-input #discExp slot="end" class="font-size-small ion-text-right ion-no-padding-end" inputmode="text" enterkeyhint="done" type="text" (ionFocus)="highlight(discExp)" (ionBlur)="computeAllAmount(selectedItem)" [(ngModel)]="selectedItem.discountExpression" [disabled]="restrictTrxFields['discountExpression'] && !selectedItem.isPricingApproval"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><div>Disc. Amt.</div></ion-label>
            <ion-input *ngIf="object.header.isDisplayTaxInclusive" #discAmt slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{selectedItem.discountAmt|number:'1.2-2'}}" [disabled]="true"></ion-input>
            <ion-input *ngIf="!object.header.isDisplayTaxInclusive" #discAmt slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{selectedItem.discountAmtExTax|number:'1.2-2'}}" [disabled]="true"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-button class="ion-margin" expand="block" size="default" (click)="saveChanges()">
              Apply
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ng-template>
</ion-modal>