<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Confirmation</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Confirmation</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">    
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="pickingSalesOrderLines.length > 0">
      <app-item-view-list-flat [line]="soLine" [isPicking]="true" qtyField="qtyPickedCurrent" [itemVariationXMasterList]="itemVariationXMasterList" [itemVariationYMasterList]="itemVariationYMasterList" *ngFor="let soLine of pickingSalesOrderLines; let i = index"></app-item-view-list-flat>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="small" (click)="nextStep()">
    Confirm
  </ion-button>
</ion-footer>