  <ion-segment [scrollable]="true" [(ngModel)]="selectedScanningMethod" (ionChange)="scanningMethodChanged()">
    <ion-segment-button value="I">
      <ion-label>By Item</ion-label>
    </ion-segment-button>
    <ion-segment-button value="B">
      <ion-label>By Barcode</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-flex ion-margin-auto" size="10">
        <input #barcodeInput hideKeyboard class="p-2 ion-flex ion-text-center" [type]="selectedScanningMethod === 'B' ? 'text' : 'hidden'" enterkeyhint="enter" [(ngModel)]="barcodeSearchValue" placeholder="Enter or Scan Barcode" (keydown)="handleBarcodeKeyDown($event, barcodeSearchValue)">
        <input #itemInput class="p-2 ion-flex ion-text-center" [type]="selectedScanningMethod === 'I' ? 'text' : 'hidden'" enterkeyhint="enter" [(ngModel)]="itemSearchValue" placeholder="Enter or Scan Item Code/Sku" (keydown)="handleItemCodeKeyDown($event, itemSearchValue)">
      </ion-col>
      <ion-col class="ion-flex ion-margin-auto justify-content-end">
        <ion-button size="small" fill="clear" (click)="showKeyboard($event)">
          <i slot="icon-only" class="fas fa-keyboard"></i>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-modal #itemModal [isOpen]="itemModalOpen" (didDismiss)="itemModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Items</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="itemModal.dismiss()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item detail="false" class="ion-no-padding no-ripple" *ngFor="let item of availableItemmmm" (click)="showVariations(item)">
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div>{{item.itemCode}} - {{item.description}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #variationModal [isOpen]="variationModalOpen" (didDismiss)="variationModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Variations</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="variationModal.dismiss()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center" *ngIf="availableVariationsByItemId && availableVariationsByItemId.length > 0">
          <ion-label>{{availableVariationsByItemId[0].itemCode}} - {{availableVariationsByItemId[0].description}}</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item detail="false" class="ion-no-padding no-ripple" *ngFor="let item of availableVariationsByItemId">
            <ion-checkbox class="ml-2" slot="start" [(ngModel)]="item.isSelected"></ion-checkbox>
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row *ngIf="item.variationTypeCode === '1' || item.variationTypeCode === '2'">
                <ion-col class="ion-flex ion-margin-auto">
                  <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mr-1" style="font-size:larger" *ngIf="item.itemVariationXId"> {{item.itemVariationXId|idMapping:itemVariationXMasterList}}</span>
                  <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" style="font-size:larger" *ngIf="item.itemVariationYId"> {{item.itemVariationYId|idMapping:itemVariationYMasterList}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <ion-button class="ion-margin" expand="block" (click)="addVariations()">
        Add Item(s)
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>