<ion-header [hidden]="scanActive">
   <ion-toolbar>
      <ion-title>Line</ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
         <ion-button (click)="showPopover($event)"><ion-icon slot="icon-only" name="menu-outline"></ion-icon></ion-button>
         <ion-button id="info-trigger">
            <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
         </ion-button>
         <ion-popover trigger="info-trigger" triggerAction="click">
            <ng-template>
               <ion-content class="ion-padding">
                  <div>Count Type: {{inventoryCountBatchCriteria.randomCountType}}</div>
                  <div *ngIf="inventoryCountBatchCriteria.keyId.length > 0"> {{inventoryCountBatchCriteria.randomCountType}}:
                     <div *ngIf="inventoryCountBatchCriteria.randomCountType === 'Brand'">
                        <div *ngFor="let k of inventoryCountBatchCriteria.keyId"> {{k|idMapping:objectService.itemBrandMasterList}}</div>
                     </div>
                     <div *ngIf="inventoryCountBatchCriteria.randomCountType === 'Group'">
                        <div *ngFor="let k of inventoryCountBatchCriteria.keyId">{{k|idMapping:objectService.itemGroupMasterList}}</div>
                     </div>
                     <div *ngIf="inventoryCountBatchCriteria.randomCountType === 'Category'">
                        <div *ngFor="let k of inventoryCountBatchCriteria.keyId"> {{k|idMapping:objectService.itemCategoryMasterList}}</div>
                     </div>
                  </div>
               </ion-content>
            </ng-template>
         </ion-popover>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
   <ng-template>
      <ion-content class="p-2">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item (click)="popover.dismiss(); sendForDebug()">
               <ion-icon slot="end" name="push-outline" color="danger"></ion-icon>
               <ion-label>
                  <div>Debug</div>
               </ion-label>
            </ion-item>
         </ion-list>
      </ion-content>
   </ng-template>
</ion-popover>
<ion-content fullscreen [hidden]="scanActive">
   <div class="p-2">
      <ng-container *ngIf="!objectService.configMobileStockCountHideBinSelection">
         <ng-container *ngIf="objectService.configInvCountActivateLineWithBin && !objectService.configInvCountBinFromLocation">
            <ion-list class="list-custom animate__animated animate__fadeIn mb-2" lines="full">
               <ion-item button [detail]="false" class="no-ripple">
                  <ion-label position="stacked" class="font-bold">Current Bin</ion-label>
                  <ion-grid class="ion-no-padding m-0 w-full">
                     <ion-row>
                        <ion-col size="10" class="ion-flex ion-margin-auto">
                           <ion-input [(ngModel)]="binDesc" type="email"  placeholder="Bin" (ionBlur)="onBinDescBlur()"></ion-input>
                        </ion-col>
                        <ion-col size="2" class="ion-flex ion-margin-auto">
                           <ion-button fill="clear" (click)="startScanning()">
                              <i slot="icon-only" class="fas fa-camera"></i>
                           </ion-button>
                        </ion-col>
                     </ion-row>
                  </ion-grid>
               </ion-item>
            </ion-list>
         </ng-container>
         <ng-container *ngIf="objectService.configInvCountActivateLineWithBin && objectService.configInvCountBinFromLocation">
            <ion-list class="list-custom animate__animated animate__fadeIn mb-2" lines="full">
               <app-search-dropdown title="Current Bin" [searchDropdownList]="binListDropDown" [optionLabel]="'code'" [selectedId]="selectedBin?.id" (onActionComplete)="onBinSelected($event)" [showCamera]="true" [inputReadOnly]="false" [clearSearchValue]="true" (onScanCompleted)="onBinScanCompleted($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onBinDoneScanning($event)"></app-search-dropdown>
            </ion-list>
         </ng-container>
      </ng-container>
      <app-barcode-scan-input #barcodescaninput (onItemAdd)="onItemAdd($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onDoneScanning($event)" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList" [itemUomMasterList]="objectService.itemUomMasterList"></app-barcode-scan-input>
      <pagination-controls class="ion-flex justify-content-center pagination-top" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="no-ripple ion-no-padding">
            <ion-grid class="ion-no-padding pl-2">
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto justify-content-between">
                     <div class="font-bold">Total Quantity</div>
                     <div class="font-bold">{{objectService.objectDetail|sum:"qtyRequest"|number:"1.0"}}</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
      
      <ion-searchbar #searchbar class="p-0" showCancelButton="never" showClearButton="focus" animated="true" placeholder="Search for Item" enterkeyhint="search" (ionFocus)="highlight(searchbar)" (keydown)="onKeyDown($event, searchbar.value)" (ionClear)="resetFilteredObj()"></ion-searchbar>

      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item-sliding #slidingItem *ngFor="let rowData of filteredObj|paginate:{itemsPerPage:itemsPerPage,currentPage:currentPage}; trackBy:identify; let rowIndex = index">
            <ion-item button detail="false" class="no-ripple ion-no-padding">
               <ion-grid class="ion-no-padding p-2">
                  <ion-row>
                     <ion-col size="1" class="ion-flex ion-margin-auto">
                        <div>{{rowIndex+1+((currentPage-1)*itemsPerPage)}}</div>
                     </ion-col>
                     <ion-col class="ion-flex ion-margin-auto">
                        <ion-grid class="ion-no-padding">
                           <ion-row>
                              <ion-col class="ion-flex ion-margin-auto">
                                 <div class="font-bold">{{rowData.itemBarcode}}</div>
                              </ion-col>
                              <ion-col class="ion-flex ion-margin-auto justify-content-end" *ngIf="objectService.configInvCountActivateLineWithBin">
                                 <div class="ion-text-wrap font-bold" *ngIf="objectService.configInvCountActivateLineWithBin && !objectService.configInvCountBinFromLocation && rowData.binDesc">[{{rowData.binDesc}}]</div>
                                 <div class="ion-text-wrap font-bold" *ngIf="objectService.configInvCountActivateLineWithBin && objectService.configInvCountBinFromLocation && rowData.binId">[{{rowData.binId|binMapping:binList}}]</div>
                              </ion-col>
                           </ion-row>
                           <ion-row>
                              <ion-col class="ion-flex ion-margin-auto">
                                 <div class="ion-flex">
                                    {{rowData.itemCode}}
                                    <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="rowData.variationTypeCode === '0' && rowData.itemUomId">{{rowData.itemUomId|idMapping:objectService.itemUomMasterList}}</span>
                                    <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="rowData.itemVariationXId">{{rowData.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                                    <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="rowData.itemVariationYId">{{rowData.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
                                 </div>
                              </ion-col>
                           </ion-row>
                           <ion-row>
                              <ion-col class="ion-flex ion-margin-auto">
                                 <div class="ion-text-wrap">{{rowData.itemDescription}}</div>
                              </ion-col>
                           </ion-row>
                           <ion-row *ngIf="objectService.configMobileStockCountSlideToEdit">
                              <ion-col class="ion-flex ion-margin-auto justify-content-between">
                                <div class="font-bold">Qty</div>
                                <div class="font-bold">{{rowData.qtyRequest|number:"1.0"}}</div>
                              </ion-col>
                           </ion-row>
                           <ng-container *ngIf="!objectService.configMobileStockCountSlideToEdit">
                              <ion-row>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(rowData)">
                                       <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                                    </ion-button>
                                 </ion-col>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <ion-input #qtyInput class="ion-text-center" type="number" inputmode="numeric" pattern="[0-9]*" [min]="0" placeholder="0" [(ngModel)]="rowData.qtyRequest" (keypress)="eventHandler($event.keyCode, rowData)" (ionBlur)="onQtyBlur(rowData)"></ion-input>
                                 </ion-col>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(rowData)">
                                       <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                                    </ion-button>
                                 </ion-col>
                              </ion-row>
                           </ng-container>
                        </ion-grid>
                     </ion-col>
                  </ion-row>
               </ion-grid>
            </ion-item>
            <ion-item-options>
               <ion-item-option color="primary" (click)="slidingItem.close(); showEditModal(rowData)" *ngIf="objectService.configInvCountActivateLineWithBin || objectService.configMobileStockCountSlideToEdit">
                  <ion-icon slot="top" name="create-outline"></ion-icon>Edit
               </ion-item-option>
               <ion-item-option color="danger" (click)="slidingItem.close(); deleteLine(rowData)">
                  <ion-icon slot="top" name="trash-outline"></ion-icon>Delete
               </ion-item-option>
            </ion-item-options>
         </ion-item-sliding>
      </ion-list>
      <pagination-controls class="ion-flex justify-content-center pagination-top" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>
   </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive || authService.hideFooter">
   <ion-grid class="ion-no-padding">
      <ion-row>
         <ion-col>
            <ion-button class="ion-margin" expand="block" size="default" color="warning" (click)="submit_attempt = true; nextStepLocal()" [disabled]="submit_attempt">
               Save Local
               <ion-icon slot="end" name="cloud-offline-outline"></ion-icon>
            </ion-button>
         </ion-col>
         <ion-col>
            <ion-button class="ion-margin" expand="block" size="default" color="success" (click)="submit_attempt = true; nextStep()" [disabled]="submit_attempt">
               Save Online
               <ion-icon slot="end" name="cloud-done-outline"></ion-icon>
            </ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-footer>
<ion-row class="scanner-buttons" [hidden]="!scanActive">
   <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
   </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>

<ion-modal [isOpen]="editModal" (didDismiss)="editModal = false; selectedStockCountDetail = null" [hidden]="scanActive">
   <ng-template>
      <ion-header>
         <ion-toolbar>
            <ion-title>Detail</ion-title>
            <ion-buttons slot="start">
               <ion-button (click)="hideEditModal()">Done</ion-button>
            </ion-buttons>
         </ion-toolbar>
      </ion-header>
      <ion-content *ngIf="selectedStockCountDetail">
         <div class="p-2">
            <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
               <ng-container *ngIf="!objectService.configMobileStockCountHideBinSelection">
                  <ng-container *ngIf="objectService.configInvCountActivateLineWithBin && !objectService.configInvCountBinFromLocation">
                     <ion-item button [detail]="false" class="no-ripple">
                        <ion-label position="stacked" class="font-bold">Bin</ion-label>
                        <ion-input [(ngModel)]="selectedStockCountDetail.binDesc" placeholder="Bin"></ion-input>
                     </ion-item>
                  </ng-container>
                  <ng-container *ngIf="objectService.configInvCountActivateLineWithBin && objectService.configInvCountBinFromLocation">
                     <app-search-dropdown title="Bin" [searchDropdownList]="binListDropDown" [optionLabel]="'code'" [selectedId]="selectedStockCountDetail.binId" (onActionComplete)="onUpdateBinSelected($event)" [showCamera]="true" [inputReadOnly]="false" [clearSearchValue]="true" (onScanCompleted)="onUpdateBinScanCompleted($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onUpdateBinDoneScanning($event)"></app-search-dropdown>
                  </ng-container>
               </ng-container>
            </ion-list>
            <ng-container *ngIf="objectService.configMobileStockCountSlideToEdit">
               <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
                  <ion-label>Item Info</ion-label>
               </ion-list-header>
               <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
                  <ion-item button detail="false" class="no-ripple ion-no-padding" (click)="qtyInput.setFocus()">
                     <ion-grid class="ion-no-padding p-2">
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <ion-grid class="ion-no-padding">
                                 <ion-row>
                                    <ion-col class="ion-flex ion-margin-auto">
                                       <div class="font-bold">{{selectedStockCountDetail.itemBarcode}}</div>
                                    </ion-col>
                                 </ion-row>
                                 <ion-row>
                                    <ion-col class="ion-flex ion-margin-auto">
                                       <div class="ion-flex">
                                          {{selectedStockCountDetail.itemCode}}
                                          <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="selectedStockCountDetail.variationTypeCode === '0' && selectedStockCountDetail.itemUomId">{{selectedStockCountDetail.itemUomId|idMapping:objectService.itemUomMasterList}}</span>
                                          <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="selectedStockCountDetail.itemVariationXId">{{selectedStockCountDetail.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                                          <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="selectedStockCountDetail.itemVariationYId">{{selectedStockCountDetail.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
                                       </div>
                                    </ion-col>
                                 </ion-row>
                                 <ion-row>
                                    <ion-col class="ion-flex ion-margin-auto">
                                       <div class="ion-text-wrap">{{selectedStockCountDetail.itemDescription}}</div>
                                    </ion-col>
                                 </ion-row>
                                 <ion-row>
                                    <ion-col class="ion-flex ion-margin-auto">
                                       <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(selectedStockCountDetail)">
                                          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                                       </ion-button>
                                    </ion-col>
                                    <ion-col class="ion-flex ion-margin-auto">
                                       <ion-input #qtyInput class="ion-text-center" type="number" inputmode="numeric" pattern="[0-9]*" [min]="0" placeholder="0" [(ngModel)]="selectedStockCountDetail.qtyRequest" (keypress)="eventHandler($event.keyCode, selectedStockCountDetail)" (ionBlur)="onQtyBlur(selectedStockCountDetail)"></ion-input>
                                    </ion-col>
                                    <ion-col class="ion-flex ion-margin-auto">
                                       <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(selectedStockCountDetail)">
                                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                                       </ion-button>
                                    </ion-col>
                                 </ion-row>
                              </ion-grid>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-item>
               </ion-list>
            </ng-container>
         </div>
      </ion-content>
      <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
         <ion-grid class="ion-no-padding">
            <ion-row>
               <ion-col>
                  <ion-button class="ion-margin" expand="block" size="default" (click)="hideEditModal()">
                     Save
                  </ion-button>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-footer>
   </ng-template>
</ion-modal>
