<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Pick Item</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Pick Item</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <div class="main-card ion-no-padding">
      <ion-grid class="ion-no-padding" *ngIf="pickingSalesOrder?.details.length > 0">
        <ion-row>
          <ion-col size="12" class="py-0" *ngFor="let item of pickingSalesOrder?.details">
            <ion-card class="m-1">
              <ion-card-header class="px-2 pt-2 pb-0">
                <ion-card-title>{{item.itemCode}}</ion-card-title>
                <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="py-0">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <span class="badge-green font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="item.itemVariationXDescription"> {{item.itemVariationXDescription}}</span>
                    <span class="badge-purple font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="item.itemVariationYDescription"> {{item.itemVariationYDescription}}</span>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-margin-auto">
                      <ion-label>Picked Qty: </ion-label>
                    </ion-col>
                    <ion-col class="flex justify-content-end ion-margin-auto">
                      <ion-label>{{item.qtyPicked|number:'1.2'}}</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                    </ion-col>
                    <ion-col>
                      <ion-input class="ion-text-center" type="number" [min]="0" placeholder="0"></ion-input>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>