<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Summary</ion-label>
    </ion-toolbar>
  </ion-header>  
  <div class="p-2">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item>
        <ion-label>
          <div>Picking Num</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{pickingSummary.pickingNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <div>Trx Date</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{pickingSummary.trxDate|date:'dd/MM/yyyy'}}"></ion-input>
      </ion-item><ion-item>
        <ion-label>
          <div>Location</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{pickingSummary.locationId|idMapping:objectService.locationMasterList}}"></ion-input>
      </ion-item><ion-item>
        <ion-label>
          <div>Customer</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{pickingSummary.customerId|idMapping:objectService.customerMasterList}}"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="default" (click)="done()">
    Done
  </ion-button>
</ion-footer>