<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iDCP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">iDCP</ion-label>
    </ion-toolbar>
  </ion-header>

  <div class="p-2">

    <ion-list-header>
      <ion-label color="dark">Announcement</ion-label>
    </ion-list-header>
    
    <hr class="hr-medium">

    <ion-list-header>
      <ion-label color="dark">Pending Task</ion-label>
    </ion-list-header>
    <ng-container>
      <ion-list class="list-custom" lines="none">

        <ion-item *ngIf="showQuotationReview && quotationReview?.pending > 0">
          <ion-label>
            <h3>Quotation Review</h3>
          </ion-label>
          <ion-badge slot="end">{{quotationReview?.pending|number:'1.0'}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="showQuotationApproval && quotationApproval?.pending > 0">
          <ion-label>
            <h3>Quotation Approval</h3>
          </ion-label>
          <ion-badge slot="end">{{quotationApproval?.pending|number:'1.0'}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="showSalesOrderReview && salesOrderReview?.pending > 0">
          <ion-label>
            <h3>Sales Order Review</h3>
          </ion-label>
          <ion-badge slot="end">{{salesOrderReview?.pending|number:'1.0'}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="showSalesOrderApproval && salesOrderApproval?.pending > 0">
          <ion-label>
            <h3>Sales Order Approval</h3>
          </ion-label>
          <ion-badge slot="end">{{salesOrderApproval?.pending|number:'1.0'}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="showPurchaseOrderReview && purchaseOrderReview?.pending > 0">
          <ion-label>
            <h3>Purchase Order Review</h3>
          </ion-label>
          <ion-badge slot="end">{{purchaseOrderReview?.pending|number:'1.0'}}</ion-badge>
        </ion-item>

        <ion-item *ngIf="showPurchaseOrderApproval && purchaseOrderApproval?.pending > 0">
          <ion-label>
            <h3>Purchase Order Approval</h3>
          </ion-label>
          <ion-badge slot="end">{{purchaseOrderApproval?.pending|number:'1.0'}}</ion-badge>
        </ion-item>
      </ion-list>
    </ng-container>
    
    <hr class="hr-medium">

    <ion-list-header>
      <ion-label color="dark">Current Month Transaction</ion-label>
    </ion-list-header>
    
    <hr class="hr-medium">

    <ion-list-header class="ion-list-header-small">
      <ion-label>Item Last Sync: {{last_sync_datetime|date:'yyyy-MM-dd hh:mm:ss'}}</ion-label>
    </ion-list-header>

  </div>

</ion-content>