<div class="ion-padding">
  <ion-segment value="pending" [(ngModel)]="selectedSegment">
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <hr class="hr-small">
  <ion-list class="list-custom animate__animated animate__fadeIn" [lines]="pendingObjects?.length > 0 ? 'full' : 'none'" *ngIf="selectedSegment === 'pending'">    
    <ion-item-sliding *ngFor="let object of pendingObjects">      
      <ion-item button detail="false" class="no-ripple" (click)="openDetail(object.docId)">
        <ion-label>
        <h3>{{object.docNum}}</h3>
          <p>Transaction Amt: {{object.amount|number:'1.2'}}</p>
          <p style="white-space: break-spaces;">
            <span class="badge-other px-1 mr-1" style="font-size: small;"><ion-icon name="calendar-number-outline"></ion-icon> {{object.trxDate|date:'dd/MM/yyyy'}}</span>
            <span class="badge-green px-1 mr-1" style="font-size: small;"><ion-icon name="person-outline"></ion-icon> {{object.counterPart}}</span>
          </p>
          <p class="pt-1" style="white-space: break-spaces;">
            <span class="badge-purple px-1 mr-1" style="font-size: small;"><ion-icon name="globe-outline"></ion-icon> {{object.country}}</span>
            <span class="badge-purple px-1 mr-1" style="font-size: small;"><ion-icon name="logo-usd"></ion-icon> {{object.currency}}</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="presentConfirmAlert('REJECT', object.docId, object.docNum)"><ion-icon name="close-outline" slot="bottom"></ion-icon>Reject</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="presentConfirmAlert('CONFIRM', object.docId, object.docNum)"><ion-icon name="checkmark-outline" slot="bottom"></ion-icon>Approve</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>    
  </ion-list>
  <ion-list class="list-custom animate__animated animate__fadeIn" [lines]="completedObjects?.length > 0 ? 'full' : 'none'" *ngIf="selectedSegment === 'completed'">    
    <ion-item-sliding *ngFor="let object of completedObjects">      
      <ion-item button detail="false" class="no-ripple" (click)="openDetail(object.docId)">
        <ion-label>
          <h3>{{object.docNum}}</h3>
          <p>Transaction Amt: {{object.amount|number:'1.2'}}</p>
          <p style="white-space: break-spaces;">
            <span class="badge-other px-1 mr-1" style="font-size: small;"><ion-icon name="calendar-number-outline"></ion-icon> {{object.trxDate|date:'dd/MM/yyyy'}}</span>
            <span class="badge-green px-1 mr-1" style="font-size: small;"><ion-icon name="person-outline"></ion-icon> {{object.counterPart}}</span>
          </p>
          <p class="pt-1" style="white-space: break-spaces;">
            <span class="badge-purple px-1 mr-1" style="font-size: small;"><ion-icon name="globe-outline"></ion-icon> {{object.country}}</span>
            <span class="badge-purple px-1 mr-1" style="font-size: small;"><ion-icon name="logo-usd"></ion-icon> {{object.currency}}</span>
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentConfirmAlert('REVERSE', object.docId, object.docNum)"><ion-icon name="arrow-undo-outline" slot="bottom"></ion-icon>Reverse</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>    
  </ion-list>
</div>