<ion-header collapse="fade" [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Pick Item</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [hidden]="scanActive">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Pick Item</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">    
    <app-barcode-scan-input (onItemAdd)="onItemAdd($event)"></app-barcode-scan-input>
    <ion-list slot="content" class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item-sliding *ngFor="let line of objectDetail; let i = index">
        <ion-item button detail="false" class="no-ripple">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-margin-auto">
                <div class="font-bold">{{line.itemBarcode}}</div>                      
              </ion-col>
              <ion-col class="ion-margin-auto" *ngIf="objectHeader.isDisplayTaxInclusive">
                <p class="ion-text-right">{{line.unitPrice|number:(objectHeader.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</p>
              </ion-col>
              <ion-col class="ion-margin-auto" *ngIf="!objectHeader.isDisplayTaxInclusive">
                <p class="ion-text-right">{{line.unitPriceExTax|number:(objectHeader.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</p>
              </ion-col>
              <ion-col size="1" class="ion-margin-auto">
                <ion-button fill="clear" color="primary" size="small" (click)="showLineDetails(line)">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="10">
                <ion-grid class="ion-no-padding p-0">
                  <ion-row>
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="font-bold">{{line.itemCode}}</div>
                      <span class="badge-green px-1 mx-1 ion-flex" style="font-size: x-small;" *ngIf="itemVariationXMasterList.length > 0 && line.itemVariationXId"> {{line.itemVariationXId|idMapping:itemVariationXMasterList}}</span>
                      <span class="badge-purple px-1 mr-1 ion-flex" style="font-size: x-small;" *ngIf="itemVariationYMasterList.length > 0 && line.itemVariationYId"> {{line.itemVariationYId|idMapping:itemVariationYMasterList}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-margin-auto">
                      <div>
                        {{line.description}}
                      </div>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row *ngIf="allowModifyItemInfo">
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="py-1">Unit Price: </div>
                    </ion-col>
                    <ion-col size="3" class="ion-margin-auto ion-flex">
                      <ion-input #unitpriceinput type="number" [min]="0" placeholder="0" [(ngModel)]="line.unitPrice" (ionFocus)="highlight(unitpriceinput)" (keypress)="eventHandler($event.keyCode)"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="allowModifyItemInfo">
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="py-1">Disc Code: </div>
                    </ion-col>
                    <ion-col size="3" class="ion-margin-auto ion-flex">
                      <ion-select class="p-0" interface="popover" placeholder="Select disc code" [(ngModel)]="line.discountGroupCode" (ionChange)="discountGroupCodeChanged(line)">
                        <ion-select-option *ngFor="let discount of discountGroupMasterList" [value]="discount.code">{{discount.code}} - {{discount.description}}</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="allowModifyItemInfo">
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="py-1">Disc Expression: </div>
                    </ion-col>
                    <ion-col size="3" class="ion-margin-auto ion-flex">
                      <ion-input type="text" [(ngModel)]="line.discountExpression" (ionBlur)="computeAllAmount(line)"></ion-input>
                    </ion-col>
                  </ion-row>                  
                  <ion-row *ngIf="allowModifyItemInfo">
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="py-1">Disc Amount: </div>
                    </ion-col>
                    <ion-col size="3" class="ion-margin-auto ion-flex">
                      <div>{{line.discountAmt}}</div>
                    </ion-col>
                  </ion-row> -->
                  <ion-row *ngIf="allowModifyItemInfo">
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="py-1">Subtotal (Before Tax): </div>
                    </ion-col>
                    <ion-col size="3" class="ion-margin-auto ion-flex">
                      <div>{{line.subTotalExTax|number: (objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="allowModifyItemInfo">
                    <ion-col class="ion-margin-auto ion-flex">
                      <div class="py-1">Subtotal: </div>
                    </ion-col>
                    <ion-col size="3" class="ion-margin-auto ion-flex">
                      <div>{{line.subTotal|number:  (objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="2" class="ion-margin-auto ion-flex">
                <ion-input #inputNumWithoutSo class="ion-text-center" type="number" [min]="0" placeholder="0" [(ngModel)]="line.qtyRequest" (ionFocus)="highlight(inputNumWithoutSo)" (keypress)="eventHandler($event.keyCode)" (ionChange)="computeAllAmount(line)"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteLine(i)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>    
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    Insert
  </ion-button>
</ion-footer>
<ion-fab class="ion-fab-custom mb-5" vertical="bottom" horizontal="center" slot="fixed" (click)="startScanning()" [hidden]="scanActive">
  <ion-fab-button>
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
  </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{selectedItem?.itemCode}}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideItemModal()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="selectedItem">
      <div class="p-2">
        <ion-list-header class="ion-list-header-small">
          <ion-label>Info</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="full">
          <ion-item>
            <ion-label><p>Code</p></ion-label>
            {{selectedItem?.itemCode}}
          </ion-item>
          <ion-item>
            <ion-label><p>Description</p></ion-label>
            {{selectedItem?.description}}
          </ion-item>
          <ion-item>
            <ion-label><p>Unit Price</p></ion-label>
            <ion-input *ngIf="objectHeader.isDisplayTaxInclusive" #unitPrice slot="end" class="font-size-small ion-text-right ion-no-padding-end" inputmode="numeric" enterkeyhint="done" type="number" (ionFocus)="highlight(unitPrice)" [(ngModel)]="selectedItem.unitPrice" (ionBlur)="computeAllAmount(selectedItem)"></ion-input>
            <ion-input *ngIf="!objectHeader.isDisplayTaxInclusive" #unitPrice slot="end" class="font-size-small ion-text-right ion-no-padding-end" inputmode="numeric" enterkeyhint="done" type="number" (ionFocus)="highlight(unitPrice)" [(ngModel)]="selectedItem.unitPriceExTax" (ionBlur)="computeAllAmount(selectedItem)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><p>Discount Code</p></ion-label>
            <ion-select slot="end" [(ngModel)]="selectedItem.discountGroupCode" (ionChange)="discountGroupCodeChanged(selectedItem)">
              <ion-select-option *ngFor="let s of discountGroupMasterList" [value]="s.code">{{s.code}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label><p>Discount Expression</p></ion-label>
            <ion-input #discExp readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" inputmode="text" enterkeyhint="done" type="text" (ionFocus)="highlight(discExp)" [(ngModel)]="selectedItem.discountExpression"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><p>Discount Amount</p></ion-label>
            <ion-input *ngIf="objectHeader.isDisplayTaxInclusive" #discAmt readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" [value]="selectedItem.discountAmt"></ion-input>
            <ion-input *ngIf="!objectHeader.isDisplayTaxInclusive" #discAmt readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" [value]="selectedItem.discountAmtExTax"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>