<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<div class="ion-text-wrap">
				{{object?.header?.salesDepositNum}}
			</div>
		</ion-title>
		<ion-buttons slot="start">
			<ion-back-button text=""></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
	<div class="p-2">
		<ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
			<ion-item button detail="false" class="ion-no-padding no-ripple">
				<ion-grid class="ion-no-padding py-2 pl-2">
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Doc. Num.</div>
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{object?.header?.salesDepositNum}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Doc. Date</div>
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{object?.header?.trxDate|date:"dd/MM/yyyy"}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Doc. Time</div>
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{object?.header?.trxDateTime|date:"hh:mm:ss"}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Location</div>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto justify-content-end">
							<div>{{object?.header?.locationId|idMapping:locationMasterList}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Station Num.</div>
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{object?.header?.stationNum}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Customer</div>
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{object?.header?.customerName}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Total Amt.</div>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto justify-content-end">
							<div>{{object?.header?.totalAmt|number:"1.2"}}</div>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Created By</div>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto justify-content-end">
							<div>{{object?.header?.createdBy}} {{object?.header?.createdAt|date:"dd/MM/yy hh:mm a"}}</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-list>
		<ion-list-header class="ion-list-header-small ion-flex ion-text-center">
			<ion-label>Payment</ion-label>
		</ion-list-header>
		<ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
			<ion-item button detail="false" class="ion-no-padding no-ripple">
				<ion-grid class="ion-no-padding py-2 pl-2">
					<ion-row>
						<ion-col size="1" class="ion-flex ion-margin-auto">
							<div class="font-bold">#</div>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Payment Type</div>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto">
							<div class="font-bold">Merchant Type</div>
						</ion-col>
						<ion-col class="font-bold ion-margin-auto justify-content-end">
							<div class="font-bold">Total Payment</div>
						</ion-col>
						<ion-col class="font-bold ion-margin-auto justify-content-end">
							<div class="font-bold">Offset Amount</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let rowData of object?.details; let rowIndex = index">
				<ion-grid class="ion-no-padding py-2 pl-2">
					<ion-row>
						<ion-col size="1" class="ion-flex ion-margin-auto">
							<div>{{rowIndex+1}}</div>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto">
							{{rowData.paymentTypeId|idMapping:paymentTypeMasterList}}
							<ng-container *ngIf="rowData.refNo01 && rowData.paymentTypeCategory !== '5'">
								{{' [Ref: '+ rowData.refNo01 +']'}}
							</ng-container>
						</ion-col>
						<ion-col class="ion-flex ion-margin-auto">
							{{rowData.cardMerchantId|idMapping:cardMerchantMasterList}}
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{rowData.totalAmt|number:"1.2"}}</div>
						</ion-col>
						<ion-col class="ion-margin-auto justify-content-end">
							<div>{{rowData.offsetAmt|number:"1.2"}}</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-list>
	</div>
</ion-content>