<ion-header [hidden]="scanActive">
   <ion-toolbar>
      <ion-title>Stock Reorder</ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
         <ion-button (click)="showPopover($event)"><ion-icon slot="icon-only" name="menu-outline"></ion-icon></ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
   <ng-template>
      <ion-content class="p-2">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item (click)="popover.dismiss(); sendForDebug()">
               <ion-icon slot="end" name="push-outline" color="danger"></ion-icon>
               <ion-label>
                  <div>Debug</div>
               </ion-label>
            </ion-item>
         </ion-list>
      </ion-content>
   </ng-template>
</ion-popover>

<ion-content [fullscreen]="true" [hidden]="scanActive">
   <div class="p-2">
      <form [formGroup]="objectForm">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item id="open-calendar-modal" [disabled]="true">
               <ion-label position="stacked" class="font-bold">Doc. Date</ion-label>
               <ion-text class="ion-no-padding-end pb-3">{{formattedDateString}}</ion-text>
            </ion-item>
            <ion-modal class="ion-modal-calendar" trigger="open-calendar-modal">
               <ng-template>
                  <ion-content>
                     <ion-datetime #datetime [value]="dateValue" size="cover" (ionChange)="onTrxDateSelected(datetime.value)" [preferWheel]="true" showDefaultTitle="true" presentation="date" [max]="maxDate">
                        <ion-buttons slot="buttons">
                           <ion-button (click)="dateDismiss()" color="danger">Dismiss</ion-button>
                           <ion-button (click)="dateSelect()" color="primary">Select</ion-button>
                        </ion-buttons>
                     </ion-datetime>
                  </ion-content>
               </ng-template>
            </ion-modal>
            <app-search-dropdown title="From Location" [masterDropdownList]="objectService.locationMasterList" [selectedId]="objectForm.controls.locationId.value" (onActionComplete)="onLocationChanged($event)"></app-search-dropdown>
            <ion-item>
               <ion-label position="stacked" class="font-bold">Remark</ion-label>
               <ion-textarea autoGrow="true" inputmode="text" type="text" enterkeyhint="enter" placeholder="Enter Remark" formControlName="remark"></ion-textarea>
            </ion-item>
         </ion-list>
      </form>

      <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
         <ion-label>Line</ion-label>
      </ion-list-header>

      <app-barcode-scan-input #barcodescaninput (onItemAdd)="onItemAdd($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onDoneScanning($event)" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList"></app-barcode-scan-input>
      <!-- <input #barcodeInput class="p-2 mt-2 ion-flex ion-text-center" type="text" enterkeyhint="enter" [(ngModel)]="itemSearchValue" placeholder="Scan or Enter Item Barcode" (keydown)="handleKeyDown($event)"> -->

      <ion-list class="list-custom animate__animated animate__fadeIn mt-2" lines="full">
         <ion-item-sliding #slidingItem *ngFor="let l of objectLine let i = index">
            <ion-item button detail="false" class="ion-no-padding no-ripple" (click)="highlight(qtyInput)">
               <ion-grid class="ion-no-padding py-2 pl-2">
                  <ion-row>
                     <ion-col size="9">
                        <ion-grid class="ion-no-padding">
                           <ion-row>
                              <ion-col class="ion-flex ion-margin-auto">
                                 <div class="font-bold">{{l.itemCode}}</div>
                                 <div class="ion-flex">
                                    <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="l.xDesc">{{l.xDesc}}</span>
                                    <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="l.yDesc">{{l.yDesc}}</span>
                                 </div>
                              </ion-col>
                           </ion-row>
                           <ion-row>
                              <ion-col class="ion-flex ion-margin-auto">
                                 <div class="ion-text-wrap">{{l.itemDesc}}</div>
                              </ion-col>
                           </ion-row>
                           <ion-row>
                              <ion-col class="ion-flex ion-margin-auto">
                                 <div class="ion-text-wrap">{{l.barcode}}</div>
                              </ion-col>
                           </ion-row>
                        </ion-grid>
                     </ion-col>
                     <ion-col size="3" class="ion-flex ion-margin-auto justify-content-center">
                        <ion-input #qtyInput class="ion-text-center" type="number" [min]="0" [(ngModel)]="l.lineQty" placeholder="0"></ion-input>
                     </ion-col>
                  </ion-row>
               </ion-grid>
            </ion-item>
            <ion-item-options>
               <ion-item-option color="danger" (click)="slidingItem.close(); deleteLine(i, l);">
                  <ion-icon slot="top" name="trash-outline"></ion-icon>Delete
               </ion-item-option>
            </ion-item-options>
         </ion-item-sliding>
      </ion-list>

   </div>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
   <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
      Insert
   </ion-button>
</ion-footer>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
   <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
   </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>