<ion-header>
  <ion-toolbar>
    <ion-title>Consignment Count</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="p-2"> 
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" [formGroup]="objectForm">
      <app-search-dropdown title="Location" optionLabel="description" [searchDropdownList]="consignmentLocationSearchDropdownList" [selectedId]="objectForm?.controls?.locationId?.value" (onActionComplete)="onLocationSelected($event)"></app-search-dropdown>
      <ion-item>
        <ion-label position="stacked" class="font-bold">Rack</ion-label>
        <ion-textarea autoGrow="true" inputmode="text" type="text" enterkeyhint="enter" placeholder="Enter Rack" formControlName="rack"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="font-bold">Zone</ion-label>
        <ion-textarea autoGrow="true" inputmode="text" type="text" enterkeyhint="enter" placeholder="Enter Zone" formControlName="zone"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()" [disabled]="!objectForm.valid">
    Next
  </ion-button>
</ion-footer>