<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Transfer In Scanning</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Transfer In Scanning</ion-label>
    </ion-toolbar>
  </ion-header>

  <div class="p-2">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <app-search-dropdown title="Location" [searchDropdownList]="consignmentLocationSearchDropdownList" [selectedId]="selectedLocation?.locationId" (onActionComplete)="onLocationChanged($event)"></app-search-dropdown>
      <app-search-dropdown title="Inter Transfer Doc" [searchDropdownList]="pendingDocSearchDropdownList" [selectedId]="selectedPendingDoc?.interTransferId" (onActionComplete)="onPendingDocChanged($event)"></app-search-dropdown>
    </ion-list>
    
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Selected Doc. Detail</ion-label>
    </ion-list-header>
    
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <div *ngIf="selectedPendingDoc">
        <ion-item button [detail]="false" class="ion-no-padding no-ripple">
          <ion-grid class="ion-no-padding py-2 pl-2">
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold"> Doc. Num.</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                {{selectedPendingDoc.interTransferNum}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold"> Doc. Date</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                {{selectedPendingDoc.trxDate|date:"dd/MM/yyyy"}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold"> From Location</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">
                {{selectedPendingDoc.locationId|idMapping:objectService.locationMasterList}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item button [detail]="false" class="ion-no-padding no-ripple pl-2">
          <ion-label position="stacked" class="font-bold">Remark</ion-label>
          <ion-textarea autoGrow="true" inputmode="text" type="text" enterkeyhint="enter" placeholder="Enter Remark" [(ngModel)]="selectedPendingDoc.remark"></ion-textarea>
        </ion-item>
      </div>

    </ion-list>

  </div>
  
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    Next
  </ion-button>
</ion-footer>