<ion-header>
   <ion-toolbar>
      <ion-title>
         <div class="ion-text-wrap">
            {{objectService.object?.header?.defectRequestNum}}
         </div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/transactions/defect-request" (click)="previousStep()"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
         <ion-button (click)="showPopover($event)"><ion-icon name="menu-outline" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
   <ng-template>
      <ion-content class="p-2">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item (click)="popover.dismiss(); editObject()">
               <ion-icon name="create-outline" slot="end"></ion-icon>
               <ion-label>
                  <div>Edit</div>
               </ion-label>
            </ion-item>
            <ion-item (click)="popover.dismiss(); showAdditionalInfo = !showAdditionalInfo">
              <ion-icon name="{{showAdditionalInfo?'eye-off-outline':'eye-outline'}}" slot="end"></ion-icon>
              <ion-label>
                <div>{{showAdditionalInfo?"Hide Add. Info":"Show Add. Info"}}</div>
              </ion-label>
            </ion-item>
            <ion-item (click)="popover.dismiss(); showHistoryModal()">
              <ion-icon name="time-outline" slot="end"></ion-icon>
              <ion-label>
                <div>Approval History</div>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="processType && selectedSegment === 'pending'"
              (click)="popover.dismiss(); presentApprovalAlert('CONFIRM')">
              <ion-icon name="checkmark-outline" slot="end"></ion-icon>
              <ion-label>
                <div>Approve</div>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="processType && selectedSegment === 'pending'"
              (click)="popover.dismiss(); presentApprovalAlert('REJECT')">
              <ion-icon name="close-outline" slot="end"></ion-icon>
              <ion-label>
                <div>Reject</div>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="processType && selectedSegment === 'completed'"
              (click)="popover.dismiss(); presentApprovalAlert('REVERSE')">
              <ion-icon name="arrow-undo-outline" slot="end"></ion-icon>
              <ion-label>
                <div>Reverse</div>
              </ion-label>
            </ion-item>
         </ion-list>
      </ion-content>
   </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">
   <div class="px-2 pb-2" *ngIf="objectService.object">
      <div *ngIf="workFlowState && workFlowState.length > 0">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
          <ion-label>Workflow</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item class="ion-no-padding no-ripple" *ngFor="let w of workFlowState; let i = index">
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">{{w.title}}</div>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="w.trxBy">
                <ion-col class="ion-flex ion-margin-auto">
                  {{w.trxBy}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf="w.trxDate">
                <ion-col class="ion-flex ion-margin-auto">
                  {{w.trxDate|date:'dd/MM/yyyy hh:mm a'}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf="w.interval">
                <ion-col class="ion-flex ion-margin-auto">
                  {{w.interval}}
                </ion-col>
              </ion-row>
              <ion-row *ngIf="w.trxNums && w.trxNums.length > 0">
                <ion-col class="ion-flex ion-margin-auto">
                  <div *ngFor="let tn of w.trxNums">[{{tn}}]</div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-icon slot="end" name="ellipse" class="color-success" *ngIf="w.isCompleted"></ion-icon>
            <ion-icon slot="end" name="ellipse" class="color-danger" *ngIf="!w.isCompleted"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
         <ion-label>Document</ion-label>
      </ion-list-header>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Doc. Num.</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object?.header?.defectRequestNum}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Doc. Date</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object?.header?.trxDate|date:'dd/MM/yyyy'}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Location</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object?.header?.locationId|idMapping:objectService.locationMasterList}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Customer</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object?.header?.customerId|idMapping:objectService.customerMasterList}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Category</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object?.header?.defectRequestCategoryId|idMapping:objectService.defectRequestCategoryMasterList}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                 <ion-col class="ion-flex ion-margin-auto">
                    <div class="font-bold">Created By</div>
                 </ion-col>
                 <ion-col class="ion-flex ion-margin-auto justify-content-end">
                    <div>{{objectService.object?.header?.createdBy}} {{objectService.object?.header?.createdAt|date:"dd/MM/yy hh:mm a"}}
                    </div>
                 </ion-col>
              </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
      <ng-container *ngIf="showAdditionalInfo">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
          <ion-label>Shipping Info</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Address</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipAddress}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Postcode</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipPostCode}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Phone</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipPhone}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Email</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipEmail}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Fax</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipFax}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Area</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipAreaId|idMapping:objectService.areaMasterList}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">State</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.shipStateId|idMapping:objectService.stateMasterList}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Attention</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{objectService.object.header.attention}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ng-container>
      <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
        <ion-label>Details</ion-label>
      </ion-list-header>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let rowData of objectService.object?.details" (click)="showDetails(rowData)">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                 <ion-col class="ion-flex ion-margin-auto">
                   <div class="font-bold">{{rowData.itemCode}}</div>
                 </ion-col>
               </ion-row>
               <ion-row>
                 <ion-col class="ion-flex ion-margin-auto">
                   <div class="ion-text-wrap">{{rowData.description}}</div>
                 </ion-col>
               </ion-row>
               <ion-row>
                 <ion-col class="ion-flex ion-margin-auto">
                   <div class="ion-text-wrap">{{rowData.itemUomId|idMapping:objectService.itemUomMasterList}}</div>
                 </ion-col>
               </ion-row>
               <ion-row>
                 <ion-col class="ion-flex ion-margin-auto">
                  <ion-icon style="position:relative; top:0.1rem" *ngIf="rowData.variationTypeCode !== '0' && !rowData.isSelected" name="add-circle-outline"></ion-icon>
                  <ion-icon style="position:relative; top:0.1rem" *ngIf="rowData.variationTypeCode !== '0' && rowData.isSelected" name="remove-circle-outline"></ion-icon>
                   <div class="font-bold">Total Quantity</div>
                 </ion-col>
                 <ion-col class="ion-flex ion-margin-auto justify-content-end">
                   <div >{{rowData.qtyRequest|number:"1.0-0"}} </div>
                 </ion-col>
               </ion-row>
               <div *ngIf="rowData.isSelected">
                 <div *ngFor="let vd of rowData.variationDetails">
                   <ion-row *ngFor="let d of filter(vd.details)">
                     <ion-col size="auto" class="ion-flex ion-margin-auto">
                       <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="vd.itemVariationXId"> {{vd.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                       <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="d.itemVariationYId"> {{d.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
                     </ion-col>
                     <ion-col class="ion-flex ion-margin-auto justify-content-end">
                       <div >{{d.qtyRequest|number:"1.0-0"}}</div>
                     </ion-col>
                   </ion-row>
                 </div>
               </div>
               <ion-row *ngIf="rowData.remark && rowData.remark.length > 0">
                 <ion-col class="ion-flex ion-margin-auto">
                   <div class="font-bold">Remark</div>
                 </ion-col>
                 <ion-col class="ion-flex ion-margin-auto justify-content-end">
                   <div class="ion-text-wrap">{{rowData.remark}}</div>
                 </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
   </div>
</ion-content>

<ion-modal [isOpen]="historyModal" (didDismiss)="historyModal = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>History</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideHistoryModal()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center"
          *ngIf="approvalHistory && approvalHistory?.length === 0">
          <ion-label>Approval History Not Available.</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item class="ion-no-padding no-ripple" *ngFor="let h of approvalHistory">
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Date</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{h.createdAt|date:'dd/MM/yyyy hh:mm:ss a'}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Action By</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{h.createdBy}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Status</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{h.status}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="font-bold">Reason</div>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end">
                  <div>{{h.reason}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>