<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Check Balance</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/others"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Check Balance</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list class="list-custom" lines="full">
      <app-search-dropdown title="Item" [showHeaderLabel]="false" [showCode]="true" optionValue="code" [searchDropdownList]="itemSearchDropdownList" (onActionComplete)="onItemChanged($event)"></app-search-dropdown>
      <ion-item *ngIf="itemInfo">
        <ion-label position="fixed">View By</ion-label>
        <ion-segment [(ngModel)]="selectedViewOptions" [disabled]="itemInfo?.variationTypeCode !== '1' && itemInfo?.variationTypeCode !== '2'">
          <ion-segment-button value="item">
            <ion-label>Item</ion-label>
          </ion-segment-button>
          <ion-segment-button value="variation">
            <ion-label>Variation</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-list>
    <ion-accordion-group #accordionGroup *ngIf="itemInfo" class="py-1">
      <ion-accordion value="advanced filter">
        <ion-item slot="header" color="light">
          <ion-label>Advanced Filter</ion-label>
        </ion-item>
        <ion-list class="list-custom" slot="content" lines="none">
          <ion-item>
            <ion-label position="fixed">Location</ion-label>
            <ion-select interface="action-sheet" placeholder="Select Location" [(ngModel)]="selectedLocation" (ionChange)="advancedFilter()">
              <ion-select-option *ngFor="let location of locationMasterList" [value]="location.value">{{location.label}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Hide 0 Balance</ion-label>
            <ion-checkbox item-right checked="true" [(ngModel)]="hideEmpty" (ionChange)="advancedFilter()"></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="selectedViewOptions === 'variation' && inventoryLevelVariation.length > 0 && itemVariationX.length > 1">
            <ion-label position="fixed">Variation X</ion-label>
            <ion-select interface="action-sheet" placeholder="Select Variation X" [(ngModel)]="selectedVariationX" (ionChange)="advancedFilter()">
              <ion-select-option *ngFor="let x of itemVariationX" [value]="x.value">{{x.label}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="selectedViewOptions === 'variation' && inventoryLevelVariation.length > 0 && itemVariationY.length > 1">
            <ion-label position="fixed">Variation Y</ion-label>
            <ion-select interface="action-sheet" placeholder="Select Variation Y" [(ngModel)]="selectedVariationY" (ionChange)="advancedFilter()">
              <ion-select-option *ngFor="let y of itemVariationY" [value]="y.value">{{y.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    <ion-card *ngIf="itemInfo" class="mx-0 my-1">
      <ion-card-header>
        <ion-card-title>{{itemInfo.description}}</ion-card-title>
      </ion-card-header>
    </ion-card>    
    <div *ngIf="selectedViewOptions === 'item'">
      <ion-card *ngFor="let item of inventoryLevel" class="mx-0 my-1">
        <ion-card-header>
          <ion-card-subtitle>{{item.locationCode}}</ion-card-subtitle>
          <ion-card-title>{{item.locationDescription}}</ion-card-title>
        </ion-card-header>
        <ion-card-content [ngClass]="{'color-danger': (item.qty < 0), 'color-warning': (item.qty == 0) }">{{item.qty | number:'1.0'}}</ion-card-content>
      </ion-card>
    </div>  
    <div *ngIf="selectedViewOptions === 'variation'">
      <ion-card *ngFor="let item of inventoryLevelVariation" class="mx-0 my-1">
        <ion-card-header>
          <ion-card-subtitle>{{item.locationCode}}</ion-card-subtitle>
          <ion-card-title>{{item.locationDescription}}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="flex-wrap: nowrap; overflow-x: scroll!important; overflow-y: hidden;">
          <table id="qtyMatrix">
            <tr>
              <th class="p-1 font-half-size ion-text-left">Variety</th>
              <ng-container *ngIf="selectedVariationY !== 'all'">
                <th class="p-1 font-half-size ion-text-right">
                  {{selectedVariationY}}
                </th>
              </ng-container>
              <ng-container *ngIf="selectedVariationY === 'all'">
                <th class="p-1 font-half-size" *ngFor="let header of item.itemVariationYDescription">
                  {{header}}
                </th>
              </ng-container>
            </tr>
            <tr *ngFor="let row of item.variation.variationDetails">
              <td class="p-1 font-half-size">
                {{row.itemVariationXDescription}}
              </td>
              <td class="p-1 font-half-size ion-text-right" *ngFor="let rowColumn of row.variationDetails">
                <div [ngClass]="{'color-danger': (rowColumn.qty < 0), 'color-warning': (rowColumn.qty == 0) }">{{rowColumn.qty | number: '1.0-0'}}</div>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>