<ion-header>
   <ion-toolbar>
      <ion-title>
         <div class="ion-text-wrap">{{object?.header?.posCashDepositNum}}</div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/transactions/cash-deposit"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
         <ion-button (click)="edit()">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>
   <div class="p-2" *ngIf="object">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Num.</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.posCashDepositNum}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Sales Date</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.trxDate|date:'dd/MM/yyyy'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Date</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.depositDateTime|date:'dd/MM/yyyy'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Time</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.depositDateTime|date:'hh:mm a'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Bank In Amount</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.depositAmount|number:'1.2'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Bank In Slip Num.</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.depositSlipNum}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Bank Name</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.paymentMethodId|idMapping:objectService.paymentMethodMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Location</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.locationId|idMapping:objectService.locationMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Customer</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.customerId|idMapping:objectService.customerMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Created By</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object?.header?.createdBy}} {{object?.header?.createdAt|date:"dd/MM/yy hh:mm a"}}</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
      <div *ngIf="imageUrls && imageUrls.length > 0">
         <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
            <ion-label>Attachments</ion-label>
         </ion-list-header>
         <img [src]="imageUrl" *ngFor="let imageUrl of imageUrls">
      </div>
   </div>
</ion-content>