<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Sales Order</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Sales Order</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <form [formGroup]="objectForm">
      
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <app-search-dropdown title="Customer" [searchDropdownList]="objectService.customerMasterList" (onActionComplete)="onCustomerSelected($event)"></app-search-dropdown>
        <app-search-dropdown *ngIf="objectForm.get('businessModelType').value !== 'T' && objectForm.get('businessModelType').value !== null" title="Destination Location" [searchDropdownList]="selectedCustomerLocationSearchDropdownList" (onActionComplete)="onCustomerLocationSelected($event)"></app-search-dropdown>
      </ion-list>
      <div class="pt-1">
        <ion-segment #segment value="withSo" (ionChange)="isWithSoChanged($event)">
          <ion-segment-button value="withSo">
            <ion-label>With SO</ion-label>
          </ion-segment-button>
          <ion-segment-button value="withoutSo">
            <ion-label>Without SO</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <ion-list-header class="ion-list-header-small ion-flex ion-text-center" *ngIf="objectForm.get('isWithSo').value">
        <ion-label>Available Sales Orders</ion-label>
      </ion-list-header>
      <p *ngIf="availableSalesOrders?.length === 0 && objectForm.get('isWithSo').value">
        <ion-text color="tertiary">
          <h3>Nothing found!</h3>
        </ion-text>
      </p>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="objectForm.get('isWithSo').value">
        <ion-item *ngFor="let item of availableSalesOrders">
          <ion-label>{{item.header.salesOrderNum}}</ion-label>
          <ion-label>{{item.header.trxDate|date:'dd/MM/yyyy'}}</ion-label>
          <ion-checkbox slot="end" (ionChange)="salesOrderChecked($event, item)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    Next
  </ion-button>
</ion-footer>