<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-wrap">
        {{objectService.objectHeader?.consignmentSalesNum}}
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
  <ng-template>
    <ion-content class="p-2">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item (click)="popover.dismiss(); toggleObjectAlert()" *ngIf="!objectService?.objectHeader?.isEntryCompleted">
          <ion-icon name="checkmark-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Complete Full Month</div>
          </ion-label>
        </ion-item>
        <ion-item (click)="popover.dismiss(); toggleObjectAlert()" *ngIf="objectService?.objectHeader?.isEntryCompleted">
          <ion-icon name="close-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Undo Full Month</div>
          </ion-label>
        </ion-item>
        <ion-item (click)="popover.dismiss(); edit()">
          <ion-icon name="create-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Edit</div>
          </ion-label>
        </ion-item>
        <ion-item (click)="popover.dismiss(); presentAlertViewPdf()">
          <ion-icon name="download-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Download PDF</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<ion-content fullscreen>
  <div class="p-2" *ngIf="objectService.objectHeader">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto justify-content-between">
              <div class="font-bold">Doc. Num.</div>
              <div class="ion-flex">
                <ion-icon class="mr-2 my-auto" name="ellipse" [class]="objectService.objectHeader.isEntryCompleted?'color-success':'color-danger'"></ion-icon>
                <div>{{objectService.objectHeader.consignmentSalesNum}}</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Date</div>
            </ion-col>
            <ion-col class="ion-margin-auto justify-content-end">
              <div>{{objectService.objectHeader.trxDate|date:"dd/MM/yyyy"}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Customer</div>
            </ion-col>
            <ion-col class="ion-margin-auto justify-content-end">
              <div>{{objectService.objectHeader.customerId|idMapping:objectService.customerMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Location</div>
            </ion-col>
            <ion-col class="ion-margin-auto justify-content-end">
              <div>{{objectService.objectHeader.toLocationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Sales Agent</div>
            </ion-col>
            <ion-col class="ion-margin-auto justify-content-end">
              <div>{{objectService.objectHeader.salesAgentId|idMapping:objectService.salesAgentMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Total Quantity</div>
            </ion-col>
            <ion-col class="ion-margin-auto justify-content-end">
              <div>{{objectService.objectDetail|sum:"qtyRequest"|number}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Grand Total</div>
            </ion-col>
            <ion-col class="ion-margin-auto justify-content-end">
              <div>{{objectService.objectDetail|sum:"subTotal"|number:"1.2-2"}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ng-container *ngIf="objectService.objectDetail">

      <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
        <ion-label>Details</ion-label>
      </ion-list-header>
  
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item button detail="false" class="ion-no-padding no-ripple">
          <ion-grid class="ion-no-padding py-2 pl-2">
            <ion-row>
              <ion-col size="1" class="ion-flex ion-margin-auto">
                <div class="font-bold">#</div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto">
                <div class="font-bold">Item Info</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
  
      <ion-list slot="content" class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let item of objectService.objectDetail; let i = index">
          <ion-grid class="ion-no-padding py-2 pl-2">
            <ion-row>
              <ion-col size="1" class="ion-flex ion-margin-auto">
                <div>{{i+1}}</div>
              </ion-col>
              <ion-col>
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">{{item.itemBarcode}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">{{item.itemCode}}</div>
                      <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="objectService.itemVariationXMasterList.length > 0 && item.itemVariationXId"> {{item.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                      <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="objectService.itemVariationYMasterList.length > 0 && item.itemVariationYId"> {{item.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div>{{item.description}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div>Total Quantity</div>
                    </ion-col>
                    <ion-col class="ion-margin-auto justify-content-end">
                      <div>{{item.qtyRequest}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">Unit Price</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">Disc. Code</div>
                    </ion-col>
                    <ion-col class="ion-margin-auto justify-content-end">
                      <div class="font-bold">Disc. Amt.</div>
                    </ion-col>
                    <ion-col class="ion-margin-auto justify-content-end">
                      <div class="font-bold">SubTotal</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div *ngIf="objectService.objectHeader.isDisplayTaxInclusive">{{item.unitPrice|number:(objectService?.objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                      <div *ngIf="!objectService.objectHeader.isDisplayTaxInclusive">{{item.unitPriceExTax|number:(objectService?.objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="ion-flex">
                        <div>{{item.discountGroupCode}}</div>
                        <div *ngIf="item.discountExpression"> [{{item.discountExpression}}]</div>
                      </div>
                    </ion-col>
                    <ion-col class="ion-margin-auto justify-content-end">
                      <div *ngIf="objectService.objectHeader.isDisplayTaxInclusive">{{item.discountAmt|number: (objectService?.objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                      <div *ngIf="!objectService.objectHeader.isDisplayTaxInclusive">{{item.discountAmtExTax|number: (objectService?.objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                    <ion-col class="ion-margin-auto justify-content-end">
                      <div>{{item.subTotal|number: (objectService?.objectHeader?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row *ngIf="consignmentSalesActivateMarginCalculation">
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">Margin Pct.</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">Margin Amt.</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto justify-content-end">
                      <div class="font-bold">Bearing Amt.</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto justify-content-end">
                      <div class="font-bold">Invoice Amt.</div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="consignmentSalesActivateMarginCalculation">
                    <ion-col class="ion-flex ion-margin-auto">
                      <div *ngIf="(item.marginPct??0 > 0)">{{item.marginPct|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}%</div>
                      <div *ngIf="item.marginPct === null || item.marginPct === 0">{{item.marginPct|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div>{{item.marginAmt|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto justify-content-end">
                      <div>{{item.bearAmt|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                    <ion-col class="ion-flex ion-margin-auto justify-content-end">
                      <div>{{item.invoiceAmt|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
                    </ion-col>
                  </ion-row> -->
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </ng-container>
  </div>
</ion-content>