<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transactions/consignment-sales"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="edit()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="p-2" *ngIf="object">
    <!-- <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Document</ion-label>
    </ion-list-header> -->
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Num.</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.consignmentSalesNum}}</div>
            </ion-col>
          </ion-row>
        <!-- </ion-grid>
      </ion-item>
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2"> -->
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Date</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.trxDate|date:'dd/MM/yyyy'}}</div>
            </ion-col>
          </ion-row>
        <!-- </ion-grid>
      </ion-item>
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2"> -->
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Customer</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.customerId|idMapping:objectService.customerMasterList}}</div>
            </ion-col>
          </ion-row>
        <!-- </ion-grid>
      </ion-item>
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2"> -->
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Location</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.toLocationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
          </ion-row>
        <!-- </ion-grid>
      </ion-item>
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2"> -->
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Sales Agent</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.salesAgentId|idMapping:objectService.salesAgentMasterList}}</div>
            </ion-col>
          </ion-row>
        <!-- </ion-grid>
      </ion-item>
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2"> -->
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Total Quantity</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.details|sum:'qtyRequest'|number}}</div>
            </ion-col>
          </ion-row>
        <!-- </ion-grid>
      </ion-item>
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full">
        <ion-grid class="ion-no-padding py-2 pl-2"> -->
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Grand Total</div>
            </ion-col>
          <!-- </ion-row>
          <ion-row> -->
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.details|sum:'subTotal'|number:'1.2-2'}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <ion-list slot="content" class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full" *ngFor="let item of object?.details; let i = index">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">{{item.itemBarcode}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">{{item.itemCode}}</div>
              <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="objectService.itemVariationXMasterList.length > 0 && item.itemVariationXId"> {{item.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
              <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="objectService.itemVariationYMasterList.length > 0 && item.itemVariationYId"> {{item.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              {{item.description}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div>Total Quantity</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{item.qtyRequest}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">
                Unit Price
              </div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">
                Disc. Code
              </div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div class="font-bold">
                Disc. Amt.
              </div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div class="font-bold">
                SubTotal
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div *ngIf="object.header.isDisplayTaxInclusive">{{item.unitPrice}}</div>
              <div *ngIf="!object.header.isDisplayTaxInclusive">{{item.unitPriceExTax}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="ion-flex">
                <div>{{item.discountGroupCode}}</div>
                <div *ngIf="item.discountExpression"> [{{item.discountExpression}}]</div>
              </div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div *ngIf="object.header.isDisplayTaxInclusive">{{item.discountAmt|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
              <div *ngIf="!object.header.isDisplayTaxInclusive">{{item.discountAmtExTax|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{item.subTotal|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div class="font-bold">
                Tax Amt. ({{item.taxPct+'%'}})
              </div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div class="font-bold">
                SubTotal Ex. Tax
              </div>
            </ion-col>
          </ion-row> -->
          <!-- <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{item.taxAmt|number: (object?.header?.isHomeCurrency ? precisionTax.localFormat : precisionTax.foreignFormat)}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{item.subTotalExTax|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>