:host ::ng-deep .datatable-header-cell {
   padding: .5rem !important;
   border: .5px solid !important;
}

:host ::ng-deep .datatable-body-cell {
   padding: .5rem !important;
   border: .5px solid !important;
   border-color: rgba(0, 0, 0, 0.54) !important;
}

:host ::ng-deep .datatable-group-header {
   width: max-content !important; 
}