<ion-header collapse="fade" [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showPopover($event)"><ion-icon name="menu-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
  <ng-template>
    <ion-content class="p-2">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item (click)="popover.dismiss(); addCarton()">
          <ion-icon name="add-circle-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Add Carton</div>
          </ion-label>
        </ion-item>
        <ion-item (click)="popover.dismiss(); deleteCarton()">
          <ion-icon name="close-circle-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Delete Carton</div>
          </ion-label>
        </ion-item>
        <ion-item (click)="popover.dismiss()">
          <ion-label><div>Show Item List</div></ion-label>
          <ion-checkbox [(ngModel)]="showItemList"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<ion-content fullscreen [hidden]="scanActive">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Pick Item</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <app-barcode-scan-input #barcodescaninput (onItemAdd)="onItemAdd($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onDoneScanning($event)" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList"></app-barcode-scan-input>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="objectService.header.isWithSo && showItemList">
      <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let i of objectService.getUniqueItem()" (click)="showImageModal(i)">
        <circle-progress slot="start" [percent]="objectService.getProgressByItemCode(i)"></circle-progress>
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">{{i}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.getQtyPickedByItemCode(i)}} / {{objectService.getQtyRequestByItemCode(i)}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div>{{objectService.getItemDescriptionByItemCode(i)}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div>{{objectService.getLocationByItemCode(i)}}</div>
            </ion-col>
          </ion-row>
          <div>
            <ion-row *ngFor="let v of objectService.getItemVariation(i)">
              <ion-col class="ion-flex ion-margin-auto" *ngIf="v && v.variationTypeCode !== '0'">
                <div class="ion-flex">
                  <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="v.xDesc"> {{v.xDesc}}</span>
                  <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="v.yDesc"> {{v.yDesc}}</span>
                </div>
              </ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end" *ngIf="v && v.variationTypeCode !== '0'">
                <div class="ml-1" style="font-size: xx-small;">{{objectService.getQtyPickedByItemSku(v.itemSku)}} / {{objectService.getQtyRequestByItemSku(v.itemSku)}} Units</div>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-item>
    </ion-list>

    <div class="font-bold mt-2">Selected: Carton {{selectedCartonNum}}</div>
    <ion-segment class="mt-2" [scrollable]="true" [(ngModel)]="selectedCartonNum">
      <ion-segment-button *ngFor="let c of objectService.multiPickingObject.pickingCarton" [value]="c.cartonNum">
        <ion-label>Carton {{c.cartonNum}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list class="list-custom animate__animated animate__fadeIn mt-2" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto"><div class="font-bold">Barcode</div></ion-col>
            <ion-col class="ion-flex ion-margin-auto"><div class="font-bold">Item Code</div></ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end"><div class="font-bold">Qty</div></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-sliding #slidingItem *ngFor="let o of getCartonItems(); let i = index">
        <ion-item button detail="false" class="ion-no-padding no-ripple" (click)="editCartonLine(o);" *ngIf="i >= 0">
          <ion-grid class="ion-no-padding py-2 pl-2">
            <ion-row>
              <ion-col class="ion-flex ion-margin-auto">{{o.itemBarcode}}</ion-col>
              <ion-col class="ion-flex ion-margin-auto">{{o.itemCode}}</ion-col>
              <ion-col class="ion-flex ion-margin-auto justify-content-end">{{o.qtyPicked}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="slidingItem.close(); deleteCartonLine(i, o);"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    {{(objectService.header.multiPickingId??0 )=== 0 ? 'Insert' : 'Update'}}
  </ion-button>
</ion-footer>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
  </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>

<ion-modal [isOpen]="isImageModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (ionModalDidDismiss)="isImageModalOpen = false">
  <ng-template>
    <div class="block">
      <ion-img [src]="imageUrl"></ion-img>
    </div>
  </ng-template>
</ion-modal>