<ion-header collapse="fade" [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Pick Item</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [hidden]="scanActive">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Pick Item</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-input class="ion-text-center" debounce="500" type="text" [(ngModel)]="manualBarcodeInput" placeholder="Scan or input Barcode" (ionChange)="checkValidBarcode(manualBarcodeInput)"></ion-input>
    <ion-accordion-group #accordianGroup1 *ngIf="pickingDtoHeader?.isWithSo">
      <ion-accordion *ngFor="let salesOrder of pickingSalesOrders;">
        <ion-item slot="header" color="light" (click)="setSelectedSo(salesOrder)">
          <ion-label>{{salesOrder.header.salesOrderNum}}</ion-label>
        </ion-item>
        <div class="main-card ion-no-padding" slot="content">
          <ion-grid class="ion-no-padding" *ngIf="salesOrder.details.length > 0">
            <ion-row>
              <ion-col size="12" class="py-0" *ngFor="let soLine of salesOrder?.details">
                <ion-card class="m-1">
                  <ion-card-header class="px-2 pt-2 pb-0">
                    <ion-card-title>
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col>
                            {{soLine.itemCode}}
                          </ion-col>
                          <ion-col class="ion-flex justify-content-end">
                            <ion-icon *ngIf="soLine.qtyRequest === (soLine.qtyPicked + soLine.qtyPickedCurrent)" color="success" name="checkmark-circle"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-title>
                    <ion-card-subtitle>{{soLine.description}}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="py-0">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <span class="badge-green font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="soLine.itemVariationXDescription"> {{soLine.itemVariationXDescription}}</span>
                        <span class="badge-purple font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="soLine.itemVariationYDescription"> {{soLine.itemVariationYDescription}}</span>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-margin-auto">
                          <ion-label class="font-smaller">SO Qty: {{soLine.qtyRequest|number:'1.0'}}</ion-label>
                        </ion-col>
                        <ion-col class="ion-margin-auto">
                          <ion-label class="font-smaller">Picked Qty: {{(soLine.qtyPicked + soLine.qtyPickedCurrent)|number:'1.0'}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="soLine.rack">
                        <ion-col class="ion-margin-auto">
                          <ion-label class="font-smaller">Location: {{soLine.rack}} - {{soLine.subRack}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(soLine)">
                            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col>
                          <ion-input class="ion-text-center" type="number" [min]="0" placeholder="0" [(ngModel)]="soLine.qtyPickedCurrent" (ionFocus)="backupQty(soLine)" (ionBlur)="updateQty(soLine)" (keypress)="eventHandler($event.keyCode, soLine)"></ion-input>
                        </ion-col>
                        <ion-col>
                          <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(soLine)">
                            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
  <ion-button class="ion-margin" expand="block" size="small" (click)="nextStep()">
    Next
  </ion-button>
</ion-footer>

<ion-fab class="ion-fab-custom mb-3" vertical="bottom" horizontal="center" slot="fixed" (click)="startScanning()" [hidden]="scanActive">
  <ion-fab-button>
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
  </ion-col>
</ion-row>

<div class="scan-box" [hidden]="!scanActive"></div>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{selectedSoDetails?.itemCode}}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="main-card" *ngIf="selectedSoDetails">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="py-0">
              <ion-card class="m-1">
                <ion-card-header class="px-2 pt-2 pb-0">
                  <ion-card-title>
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <!-- <ion-col>
                          {{selectedSoDetails.itemCode}}
                        </ion-col> -->
                        <ion-col class="ion-flex justify-content-end">
                          <ion-icon *ngIf="selectedSoDetails.qtyRequest === (selectedSoDetails.qtyPicked + selectedSoDetails.qtyPickedCurrent)" color="success" name="checkmark-circle"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-title>
                  <ion-card-subtitle>{{selectedSoDetails.description}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="py-0">
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <span class="badge-green font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="selectedSoDetails.itemVariationXDescription"> {{selectedSoDetails.itemVariationXDescription}}</span>
                      <span class="badge-purple font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="selectedSoDetails.itemVariationYDescription"> {{selectedSoDetails.itemVariationYDescription}}</span>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">SO Qty: {{selectedSoDetails.qtyRequest|number:'1.0'}}</ion-label>
                      </ion-col>
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">Picked Qty: {{(selectedSoDetails.qtyPicked + selectedSoDetails.qtyPickedCurrent)|number:'1.0'}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="selectedSoDetails.rack">
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">Location: {{selectedSoDetails.rack}} - {{selectedSoDetails.subRack}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(selectedSoDetails)">
                          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-input class="ion-text-center" autofocus type="number" [min]="0" placeholder="0" [(ngModel)]="selectedSoDetails.qtyPickedCurrent" (ionFocus)="backupQty(selectedSoDetails)" (ionBlur)="updateQty(selectedSoDetails)" (keypress)="eventHandler($event.keyCode, selectedSoDetails)"></ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(selectedSoDetails)">
                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <ion-button class="ion-margin" expand="block" size="small" (click)="hideModal()">
        Done
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>