<ion-header collapse="fade" [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Pack Item</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [hidden]="scanActive">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Pack Item</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <app-barcode-scan-input #barcodescaninput (onItemAdd)="onItemAdd($event)" (onCameraStatusChanged)="onCameraStatusChanged($event)" (onDoneScanning)="onDoneScanning($event)" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList"></app-barcode-scan-input>
    <ion-accordion-group #accordianGroup1 *ngIf="objectHeader?.isWithSo">
      <ion-accordion *ngFor="let salesOrder of packingSalesOrders;">
        <ion-item slot="header" color="light" (click)="setSelectedSo(salesOrder)">
          <ion-label>{{salesOrder.header.salesOrderNum}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <app-item-add-list-flat [line]="soLine" [isPacking]="true" qtyField="qtyPackedCurrent" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList" *ngFor="let soLine of salesOrder?.details; let i = index" (onQtyChanged)="onQtyChanged($event, soLine, i)"></app-item-add-list-flat>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-list slot="content" class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!objectHeader?.isWithSo && packingSalesOrders.length > 0">
      <ion-item-sliding *ngFor="let soLine of packingSalesOrders[0]?.details; let i = index">
        <app-item-add-list-flat [line]="soLine" [isPacking]="true" qtyField="qtyPackedCurrent" [itemVariationXMasterList]="objectService.itemVariationXMasterList" [itemVariationYMasterList]="objectService.itemVariationYMasterList" (onQtyChanged)="onQtyChanged($event, soLine, i)"></app-item-add-list-flat>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteSoLine(i)">
            <ion-icon slot="top" name="trash-outline"></ion-icon>Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    Insert
  </ion-button>
</ion-footer>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
  </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>