<ion-header collapse="fade" [translucent]="true" [hidden]="scanActive">
  <ion-toolbar>
    <ion-title>Pack Item</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen [hidden]="scanActive">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Pack Item</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <app-barcode-scan-input (onItemAdd)="onItemAdd($event)"></app-barcode-scan-input>
    <ion-accordion-group #accordianGroup1 *ngIf="packingDtoHeader?.isWithSo">
      <ion-accordion *ngFor="let salesOrder of packingSalesOrders;">
        <ion-item slot="header" color="light" (click)="setSelectedSo(salesOrder)">
          <ion-label>{{salesOrder.header.salesOrderNum}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <app-item-add-list-flat [line]="soLine" [isPacking]="true" qtyField="qtyPackedCurrent" [itemVariationXMasterList]="itemVariationXMasterList" [itemVariationYMasterList]="itemVariationYMasterList" *ngFor="let soLine of salesOrder?.details; let i = index" (onQtyChanged)="onQtyChanged($event, soLine, i)"></app-item-add-list-flat>
          </ion-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-list slot="content" class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="!packingDtoHeader?.isWithSo && packingSalesOrders.length > 0">
      <ion-item-sliding *ngFor="let soLine of packingSalesOrders[0]?.details; let i = index">
        <app-item-add-list-flat [line]="soLine" [isPacking]="true" qtyField="qtyPackedCurrent" [itemVariationXMasterList]="itemVariationXMasterList" [itemVariationYMasterList]="itemVariationYMasterList" (onQtyChanged)="onQtyChanged($event, soLine, i)"></app-item-add-list-flat>
        <ion-item-options>
          <ion-item-option color="danger" (click)="deleteSoLine(i)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="scanActive">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
    Next
  </ion-button>
</ion-footer>
<ion-fab class="ion-fab-custom mb-3" vertical="bottom" horizontal="center" slot="fixed" (click)="startScanning()" [hidden]="scanActive">
  <ion-fab-button>
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
  </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>
<!-- <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" (didPresent)="inputNumModal.setFocus()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{selectedSoDetail?.itemCode}}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="main-card" *ngIf="selectedSoDetail">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="py-0">
              <ion-card class="m-1">
                <ion-card-header class="px-2 pt-2 pb-0">
                  <ion-card-title>
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col class="ion-flex justify-content-end">
                          <ion-icon *ngIf="selectedSoDetail.qtyRequest === (selectedSoDetail.qtyPacked + selectedSoDetail.qtyPackedCurrent)" color="success" name="checkmark-circle"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-title>
                  <ion-card-subtitle>{{selectedSoDetail.description}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="py-0">
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <span class="badge-green px-1 mr-1" style="font-size: x-small;" *ngIf="selectedSoDetail.itemVariationXDescription"> {{selectedSoDetail.itemVariationXDescription}}</span>
                      <span class="badge-purple px-1 mr-1" style="font-size: x-small;" *ngIf="selectedSoDetail.itemVariationYDescription"> {{selectedSoDetail.itemVariationYDescription}}</span>
                    </ion-row>
                    <ion-row>
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">SO Qty: {{selectedSoDetail.qtyRequest|number:'1.0'}}</ion-label>
                      </ion-col>
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">Picked Qty: {{selectedSoDetail.qtyPicked|number:'1.0'}}</ion-label>
                      </ion-col>
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">Packed Qty: {{(selectedSoDetail.qtyPacked + selectedSoDetail.qtyPackedCurrent)|number:'1.0'}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="selectedSoDetail.rack">
                      <ion-col class="ion-margin-auto">
                        <ion-label class="font-smaller">Location: {{selectedSoDetail.rack}} - {{selectedSoDetail.subRack}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(selectedSoDetail)">
                          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-input #inputNumModal autofocus class="ion-text-center" type="number" [min]="0" placeholder="0" [(ngModel)]="selectedSoDetail.qtyPackedCurrent" (ionFocus)="backupQty(selectedSoDetail, inputNumModal)" (ionBlur)="updateQty(selectedSoDetail)" (keypress)="eventHandler($event.keyCode, selectedSoDetail)"></ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(selectedSoDetail)">
                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <ion-button class="ion-margin" expand="block" size="default" (click)="hideModal()">
        Done
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal> -->