<div class="main-card ion-no-padding">
  <ion-grid *ngIf="itemToDisplay.length > 0">
    <ion-row>
      <ion-col size="12" class="py-0" *ngFor="let item of itemToDisplay">
        <ion-card class="m-1">
          <ion-card-header class="px-2 pt-2 pb-0">
            <ion-card-title>{{item.itemCode}}</ion-card-title>
            <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="px-2 pt-0 pb-2" *ngIf="item.variationTypeCode === '0'">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(item)">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-input class="ion-text-center" type="number" [min]="0" [(ngModel)]="item.qtyRequest" placeholder="0"></ion-input>
                </ion-col>
                <ion-col>
                  <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(item)">
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button expand="block" size="small" *ngIf="item.qtyRequest > 0" (click)="addItemToCart(item)">Add to Cart</ion-button>
          </ion-card-content>
          <ion-card-content class="p-2" *ngIf="item.variationTypeCode === '1' || item.variationTypeCode === '2'">
            <ion-button expand="block" size="small" (click)="showModal(item.itemId)">View Variations</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Variations</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div *ngIf="itemToViewVariation && itemToViewVariation.length > 0">
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item button detail="false" class="pr-2 no-ripple">
            <ion-grid class="ion-no-padding" *ngIf="itemToViewVariation[0].variationTypeCode === '1' || itemToViewVariation[0].variationTypeCode === '2'">          
              <ion-row>
                <ion-col>
                  <p>{{itemToViewVariation[0].itemCode}}</p>
                </ion-col>
                <ion-col>
                  <p class="ion-text-right">{{itemToViewVariation[0].unitPrice|number:'1.2'}}</p>
                </ion-col>
              </ion-row>          
              <ion-row>
                <ion-col>
                  <p>{{itemToViewVariation[0].description}}</p>
                </ion-col>
              </ion-row>          
              <ion-row *ngFor="let item of itemToViewVariation">          
                <ion-col size="7" class="ion-margin-auto">
                  <p>
                    <span class="badge-green font-bold px-1 mr-1" style="font-size: small;" *ngIf="item.itemVariationLineXDescription"> {{item.itemVariationLineXDescription}}</span>
                    <span class="badge-purple font-bold px-1 mr-1" style="font-size: small;" *ngIf="item.itemVariationLineYDescription"> {{item.itemVariationLineYDescription}}</span>
                  </p>
                </ion-col>          
                <ion-col size="5" class="ion-margin-auto">          
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col class="ion-margin-auto">
                        <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseVariationQty(item)">
                          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col class="ion-margin-auto">
                        <ion-input class="ion-text-center" type="number" [min]="0" [(ngModel)]="item.qtyRequest" placeholder="0"></ion-input>
                      </ion-col>
                      <ion-col class="ion-margin-auto">
                        <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseVariationQty(item)">
                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>          
                </ion-col>          
              </ion-row>          
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>

    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <!-- <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col> -->
            <ion-button class="ion-margin" expand="block" (click)="addItemVariationToCart()">
              Add to cart
            </ion-button>
          <!-- </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-footer>

  </ng-template>
</ion-modal>