
<div class="p-2">
  <ion-searchbar class="p-0" showCancelButton="never" animated="true" placeholder="Search for Item" [(ngModel)]="itemSearchText" (ionChange)="searchTextChanged()" (search)="searchItem()"></ion-searchbar>
  <ion-button class="my-1" expand="block" size="small" (click)="searchItem()">Search</ion-button>
</div>
<div class="main-card ion-no-padding">
  <ion-grid *ngIf="availableItems.length > 0">
    <ion-row>
      <ion-col size="12" class="py-0" *ngFor="let item of availableItems">
        <ion-card class="m-1">
          <ion-card-header class="px-2 pt-2 pb-0">
            <ion-card-title>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col>
                    {{item.itemCode}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
            <ion-card-subtitle>{{item.description}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="px-2 pt-0 pb-2" *ngIf="item.variationTypeCode === '0'">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col>
                  <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseQty(item)">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-input #input class="ion-text-center" type="number" [min]="0" [(ngModel)]="item.qtyRequest" placeholder="0"></ion-input>
                </ion-col>
                <ion-col>
                  <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseQty(item)">
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button expand="block" size="small" *ngIf="item.qtyRequest > 0" (click)="addItemToCart(item)">Add to Cart</ion-button>
          </ion-card-content>
          <ion-card-content class="p-2" *ngIf="item.variationTypeCode === '1' || item.variationTypeCode === '2'">
            <ion-button expand="block" size="small" (click)="showModal(item)">View Variations</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Variations</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button detail="false" class="no-ripple" *ngIf="selectedItem">
        <ion-grid class="p-0">
          <ion-row>
            <ion-col size="10">
              <div>{{selectedItem.itemCode}} - {{selectedItem.description}}</div>
            </ion-col>
          </ion-row>
          <div *ngFor="let vd of selectedItem.variationDetails">
            <ion-row *ngFor="let d of vd.details">
              <ion-col class="ion-margin-auto">
                <span class="badge-green px-1 mx-1" *ngIf="vd.itemVariationXId"> {{vd.itemVariationXId|idMapping:itemVariationXMasterList}}</span>
                <span class="badge-purple px-1" *ngIf="d.itemVariationYId"> {{d.itemVariationYId|idMapping:itemVariationYMasterList}}</span>  
              </ion-col>
              <ion-col class="ion-margin-auto p-0">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-margin-auto">
                      <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="decreaseVariationQty(d)">
                        <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-margin-auto">
                      <ion-input #input class="ion-text-center" type="number" [min]="0" [(ngModel)]="d.qtyRequest" placeholder="0"></ion-input>
                    </ion-col>
                    <ion-col class="ion-margin-auto">
                      <ion-button class="ion-button-custom" fill="clear" color="primary" size="small" (click)="increaseVariationQty(d)">
                        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-item>
    </ion-content>
    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <ion-button class="ion-margin" expand="block" (click)="addItemVariationToCart()">
        Add to cart
      </ion-button>
    </ion-footer>
  </ng-template>
</ion-modal>