<ion-header>
  <ion-toolbar>
    <ion-title>Item Catalogue</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="p-2">
    <item-catalog-without-price [fullMasterList]="objectService.fullMasterList" (onItemAdded)="onItemAdded($event)"></item-catalog-without-price>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()">
          View Cart ({{itemInCart.length|number:'1.0'}})
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>