<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-wrap">
        {{object?.header?.consignmentCountNum}}
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="edit()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="p-2" *ngIf="objectService.objectHeader">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto justify-content-between">
              <div class="font-bold">Doc. Num.</div>
              <div>{{object.header.consignmentCountNum}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto justify-content-between">
              <div class="font-bold">Doc. Date</div>
              <div>{{object.header.trxDate|date:'dd/MM/yyyy'}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto justify-content-between">
              <div class="font-bold">Location</div>
              <div>{{object.header.locationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto justify-content-between">
              <div class="font-bold">Total Quantity</div>
              <div>{{object.details|sum:"qtyRequest"|number}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <pagination-controls class="ion-flex justify-content-center my-pagination" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col size="1" class="ion-flex ion-margin-auto">
              <div class="font-bold">#</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Item Info</div>
            </ion-col>
            <ion-col size="1" class="ion-flex ion-margin-auto justify-content-end">
              <div class="font-bold">Qty</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let item of objectService.objectDetail|paginate:{itemsPerPage:12,currentPage:currentPage}; trackBy:identify; let i = index">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col size="1" class="ion-flex ion-margin-auto">
              <div>{{i+1}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                    <div class="font-bold">{{item.itemBarcode}}</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                    <div class="ion-flex">
                      {{item.itemCode}}
                      <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="item.itemVariationXId"> {{item.itemVariationXDescription}}</span>
                      <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="item.itemVariationYId"> {{item.itemVariationYDescription}}</span>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                    <div>{{item.itemDescription}}</div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="1" class="ion-margin-auto justify-content-end">
              <div >
                <ion-badge mode="ios" class="justify-content-center">{{item.qtyRequest|number:"1.0"}}</ion-badge>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>