<ion-header>
	<ion-toolbar>
		<ion-title>
			<div class="ion-text-wrap">
				Consignment Count
			</div>
		</ion-title>
		<ion-buttons slot="start">
			<ion-back-button text="" defaultHref="/transactions"></ion-back-button>
		</ion-buttons>
		<ion-buttons slot="primary">
			<ion-button (click)="filter()">
				<ion-icon slot="icon-only" name="filter"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content fullscreen>
	<div class="px-2 pb-2">
		<ion-searchbar #searchbar class="p-0" showCancelButton="never" showClearButton="focus" animated="true" placeholder="Search" enterkeyhint="search" (ionFocus)="highlight(searchbar)" (keydown)="onKeyDown($event, searchbar.value)" (ionClear)="resetFilteredObj()"></ion-searchbar>
		<ion-list-header class="ion-list-header ion-flex ion-text-center" *ngIf="!filteredObj||filteredObj?.length === 0">
			<ion-label>Nothing found!</ion-label>
		</ion-list-header>
		<ng-container *ngIf="filteredObj.length > 0">
			<pagination-controls class="ion-flex justify-content-center pagination-top" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>
			<ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
				<ion-item button detail="false" class="ion-no-padding" *ngFor="let rowData of filteredObj|paginate:{itemsPerPage:itemsPerPage,currentPage:currentPage}" (click)="goToDetail(rowData.consignmentCountId, rowData.isLocal, rowData.guid)">
					<ion-grid class="ion-no-padding py-2 pl-2">
						<ion-row>
							<ion-col class="ion-flex ion-margin-auto justify-content-between">
								<ng-container *ngIf="rowData.isLocal">
									<div class="ion-flex">
										<ion-icon class="ion-flex mr-2 my-auto" name="ellipse" [class]="rowData.isLocal&&rowData.consignmentCountId===0?'color-danger':'color-warning'"></ion-icon>
										<div class="font-bold">DATA-{{rowData.lastUpdated|date:"yyMMddhhmmss"}}</div>
										<span class="badge-green ion-text-wrap ion-flex px-1 mx-1 my-auto"> LOCAL</span>
									</div>
									<div>{{rowData.trxDate|date:"dd/MM/yyyy"}}</div>
								</ng-container>
								<ng-container *ngIf="!rowData.isLocal">
									<div class="font-bold">{{rowData.consignmentCountNum}}</div>
									<div>{{rowData.trxDate|date:"dd/MM/yyyy"}}</div>
								</ng-container>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="ion-flex ion-margin-auto justify-content-between">
								<div *ngIf="rowData&&rowData.isLocal&&rowData.consignmentCountId>0">
									{{rowData.consignmentCountNum}}
								</div>
								<div *ngIf="!(rowData&&rowData.isLocal&&rowData.consignmentCountId>0)"></div>
								<div>{{rowData.locationId|idMapping:objectService.locationMasterList}}</div>
							</ion-col>
						</ion-row>
                  <ion-row class="my-1">
                     <ion-col class="ion-flex ion-margin-auto justify-content-between">
                        <div>Qty.: <span class="font-bold">{{rowData.totalQty|number:"1.0"}}</span></div>
                     </ion-col>
                  </ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
			<pagination-controls class="ion-flex justify-content-center pagination-top" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>
		</ng-container>
	</div>
	<ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>