<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Stock Replenish</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/transactions"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Stock Replenish</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list-header class="ion-list-header ion-flex ion-text-center" *ngIf="!objects || objects?.length === 0">
      <ion-label>Nothing found!</ion-label>
    </ion-list-header>
    <ng-container *ngIf="objects?.length > 0">
      <div *ngFor="let m of uniqueGrouping">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
          <ion-label>{{m|date:'dd MMM yyyy'}}</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="none">
          <ion-item [button]="false" [detail]="false" class="ion-no-padding" (click)="goToDetail(object.salesOrderId, object.isDraft, object.draftTransactionId)" *ngFor="let object of getObjects(m)">
            <ion-grid class="ion-no-padding py-2 pl-2">
              <ion-row>
                <ion-col class="ion-flex ion-margin-auto font-bold">
                  <ion-icon class="ion-flex mr-2" name="ellipse" [class]="object.deactivated?'color-danger':'color-success'"></ion-icon>
                  <div class="ion-flex mr-2">{{object.salesOrderNum}}</div>
                  <span class="badge-green ion-text-wrap ion-flex my-auto" *ngIf="object.isDraft"> DRAFT</span>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto justify-content-end"><ion-badge><div class="ion-text-right">{{object.currencyCode}} {{object.grandTotal|number:'1.2'}}</div></ion-badge></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="auto" class="ion-flex ion-margin-auto">
                  <ion-badge>{{object.customerCode}}</ion-badge>
                </ion-col>
                <ion-col class="ion-flex ion-margin-auto">
                  <div class="ion-flex my-auto ml-2">{{object.customerName}}</div>
                </ion-col>
                <ion-col size="auto" class="ion-flex ion-margin-auto justify-content-end">{{object.salesAgentName}}</ion-col>
              </ion-row>
              <ion-row *ngIf="object.otherAmountCount && object.otherAmountCount > 0">
                <ion-col class="ion-flex ion-margin-auto">
                  <ion-icon class="ion-flex mr-2" name="star" color="success"></ion-icon>
                  <div class="ion-flex ion-text-wrap">Charges Assigned</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ng-container>
  </div>
  <ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
