<ion-header>
   <ion-toolbar>
      <ion-title>Transfer Out</ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <div class="p-2">

      <form [formGroup]="objectForm">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item id="open-calendar-modal" [disabled]="!editableTrxDate">
               <!-- <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon> -->
               <ion-label position="stacked" class="font-bold">Doc. Date</ion-label>
               <ion-text class="ion-no-padding-end pb-3">{{formattedDateString}}</ion-text>
            </ion-item>
            <ion-modal class="ion-modal-calendar" trigger="open-calendar-modal">
               <ng-template>
                  <ion-content>
                     <ion-datetime #datetime [value]="dateValue" size="cover" (ionChange)="onTrxDateSelected(datetime.value)" [preferWheel]="true" showDefaultTitle="true" presentation="date" [max]="maxDate">
                        <ion-buttons slot="buttons">
                           <ion-button (click)="dateDismiss()" color="danger">Dismiss</ion-button>
                           <ion-button (click)="dateSelect()" color="primary">Select</ion-button>
                        </ion-buttons>
                     </ion-datetime>
                  </ion-content>
               </ng-template>
            </ion-modal>
            <ion-item>
               <ion-label position="stacked" class="font-bold">Type</ion-label>
               <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="-" value="{{objectForm.controls.typeCode.value | codeMapping: objectService.interTransferTypeList}}" [readonly]="true"></ion-input>
            </ion-item>
            <app-search-dropdown title="From Location" [masterDropdownList]="objectService.locationMasterList" [selectedId]="objectForm.controls.locationId.value" (onActionComplete)="onLocationChanged($event)" [disabled]="objectService.objectHeader?.transferOutId > 0"></app-search-dropdown>
            <app-search-dropdown title="To Location" [masterDropdownList]="objectService.fullLocationMasterList" [selectedId]="objectForm.controls.toLocationId?.value" (onActionComplete)="onToLocationChanged($event)" [disabled]="objectService.objectHeader?.transferOutId > 0"></app-search-dropdown>
            <ion-item>
               <ion-label position="stacked" class="font-bold">Remark</ion-label>
               <ion-textarea autoGrow="true" inputmode="text" type="text" enterkeyhint="next" placeholder="Remark" formControlName="remark"></ion-textarea>
            </ion-item>
            <ion-item>
               <ion-label position="stacked" class="font-bold">Total Carton</ion-label>
               <ion-input inputmode="numeric" type="number" enterkeyhint="next" placeholder="Total Carton" formControlName="totalCarton"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position="stacked" class="font-bold">GRN Num.</ion-label>
               <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="GRN Num" formControlName="grnNum"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position="stacked" class="font-bold">Handle By</ion-label>
               <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="Handle By" formControlName="handleBy"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label position="stacked" class="font-bold">Total Bag</ion-label>
               <ion-input inputmode="numeric" type="text" enterkeyhint="next" placeholder="Total Bag" formControlName="totalBag"></ion-input>
            </ion-item>
         </ion-list>
      </form>

   </div>
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;" [hidden]="authService.hideFooter">
   <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()" [disabled]="!objectForm.valid">
      Next
   </ion-button>
</ion-footer>