
<ion-label class="ion-flex mt-2 ml-4" [ngStyle]="{'font-weight': showBoldHeader ? 'bold' : ''}" *ngIf="showHeaderLabel" position="stacked">{{title}}</ion-label>
<ion-item (click)="showModal()" lines="none">
  <ion-input [placeholder]="'Select ' + title" [value]="selected.length > 0 ? (selected.length + ' selected') : undefined" readonly></ion-input>
</ion-item>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Close</ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button (click)="apply()">Apply</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar #searchBar class="p-0" [(ngModel)]="searchText" showCancelButton="focus" animated="true" [placeholder]="title ? 'Search for ' + title : 'Search'" (keypress)="keypress($event)" (ionClear)="resetFilter()"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="none">
          <ion-item detail="false" *ngFor="let item of tempDropdownList">
            <ion-checkbox slot="start" [(ngModel)]="item.checked" (ionChange)="itemChecked($event, item)"></ion-checkbox>
            <ion-badge slot="start" *ngIf="item?.code">{{item?.code}}</ion-badge>
            <ion-label class="ml-2">{{item?.description}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>