<ion-item button detail="false" class="no-ripple" (click)="showModal()">
  <ion-label position="stacked" class="font-bold"> {{title}}</ion-label>
  <ion-input [placeholder]="'Select ' + title" [value]="selected?.length > 0 ? (selected?.length + ' selected') : undefined" readonly clearInput="true"></ion-input>
</ion-item>
<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button (click)="apply()">Apply</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar #searchBar class="p-0" enterkeyhint="search" [(ngModel)]="searchText" showCancelButton="never" showClearButton="focus" animated="true" [placeholder]="title ? 'Search for ' + title : 'Search'" (keydown)="onKeyDown($event)" (ionClear)="resetFilter();"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="none">
          <ion-item detail="false">
            <ion-checkbox slot="start" [(ngModel)]="selectAll" (ionChange)="toggleSelectAll($event)"></ion-checkbox>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-margin-auto">
                    <ion-badge style="display:inline-flex"><div>ALL</div></ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="ml-2 ion-text-wrap font-bold">Select All</div>
          </ion-item>
          <ion-item detail="false" *ngFor="let item of tempDropdownList">
            <ion-checkbox slot="start" [(ngModel)]="item.checked" (ionChange)="itemChecked($event, item)"></ion-checkbox>
            <div>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-margin-auto">
                    <ion-badge style="display:inline-flex" *ngIf="item && item?.code"><div>{{item?.code}}</div></ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item && item?.oldCode">
                  <ion-col class="ion-margin-auto">
                    <ion-badge style="display:inline-flex" color="tertiary" *ngIf="item && item?.oldCode"><div>{{item?.oldCode}}</div></ion-badge>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <div class="ml-2 ion-text-wrap">{{item?.description}}</div>
          </ion-item>
        </ion-list>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" threshold="30%">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ng-template>
</ion-modal>