<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/transactions/stock-count" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="edit()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="object">
      <ion-item button detail="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Num.</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.inventoryCountNum}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Date</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.trxDate|date:'dd/MM/yyyy'}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Location</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.locationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="object.header.zoneId">
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Zone</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.zoneId|idMapping:objectService.zoneMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="object.header.rackId">
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Rack</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.header.rackId|idMapping:objectService.rackMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Total Quantity</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{object.details|sum:'qtyRequest'|number}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let item of scannedItems">
        <ion-grid class="ion-no-padding py-2 pl-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">{{item.itemBarcode}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="ion-flex">
                {{item.itemCode}}
                <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="item.itemVariationLineXDescription"> {{item.itemVariationLineXDescription}}</span>
                <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="item.itemVariationLineYDescription"> {{item.itemVariationLineYDescription}}</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div>{{item.description}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-badge mode="ios" slot="end">{{item.qtyRequest|number:'1.0'}}</ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>