<ion-header>
   <ion-toolbar>
      <ion-title *ngIf="!objectService.objectHeader?.isLocal">
         <div class="ion-text-wrap">
            {{objectService.objectHeader?.inventoryCountNum}}
         </div>
      </ion-title>
      <ion-title *ngIf="objectService.objectHeader?.isLocal">
         <div class="ion-text-wrap">
            DATA-{{objectService.objectHeader?.lastUpdated|date:"yyMMddhhmmss"}}
         </div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
         <ion-button (click)="showPopover($event)">
            <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
   <ng-template>
      <ion-content class="p-2">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item (click)="popover.dismiss(); edit()">
               <ion-icon name="create-outline" slot="end"></ion-icon>
               <ion-label>
                  <div>Edit</div>
               </ion-label>
            </ion-item>
            <ion-item (click)="popover.dismiss(); deleteLocal()" *ngIf="objectService.objectHeader.isLocal">
               <ion-icon name="trash-outline" slot="end"></ion-icon>
               <ion-label>
                  <div>Delete</div>
               </ion-label>
            </ion-item>
         </ion-list>
      </ion-content>
   </ng-template>
</ion-popover>
<ion-content fullscreen>
   <div class="p-2">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="objectService.objectHeader">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto justify-content-between">
                     <div class="font-bold">Doc. Num.</div>
                     <ng-container *ngIf="objectService.objectHeader.isLocal">
                        <div class="ion-flex">
                           <ion-icon class="ion-flex mr-2 my-auto" name="ellipse"
                              [class]="objectService.objectHeader.isLocal&&objectService.objectHeader.inventoryCountId===0?'color-danger':'color-warning'"></ion-icon>
                           <div class="font-bold">DATA-{{objectService.objectHeader.lastUpdated|date:"yyMMddhhmmss"}}
                           </div>
                           <span class="badge-green ion-text-wrap ion-flex px-1 mx-1 my-auto"> LOCAL</span>
                        </div>
                     </ng-container>
                     <ng-container
                        *ngIf="!objectService.objectHeader.isLocal && objectService.objectHeader.inventoryCountId > 0">
                        <div class="ion-flex">
                           <div>{{objectService.objectHeader.inventoryCountNum}}</div>
                        </div>
                     </ng-container>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Date</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{objectService.objectHeader.trxDate|date:'dd/MM/yyyy'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Location</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{objectService.objectHeader.locationId|idMapping:objectService.locationMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ng-container *ngIf="!objectService.configInvCountFreeTextZoneRack">
                  <ion-row *ngIf="objectService.objectHeader.zoneId">
                     <ion-col class="ion-flex ion-margin-auto">
                        <div class="font-bold">Zone</div>
                     </ion-col>
                     <ion-col class="ion-flex ion-margin-auto justify-content-end">
                        <div>{{objectService.objectHeader.zoneId|idMapping:objectService.zoneMasterList}}</div>
                     </ion-col>
                  </ion-row>
                  <ion-row *ngIf="objectService.objectHeader.rackId">
                     <ion-col class="ion-flex ion-margin-auto">
                        <div class="font-bold">Rack</div>
                     </ion-col>
                     <ion-col class="ion-flex ion-margin-auto justify-content-end">
                        <div>{{objectService.objectHeader.rackId|idMapping:objectService.rackMasterList}}</div>
                     </ion-col>
                  </ion-row>
               </ng-container>
               <ng-container *ngIf="objectService.configInvCountFreeTextZoneRack">
                  <ion-row *ngIf="objectService.objectHeader.zoneDesc">
                     <ion-col class="ion-flex ion-margin-auto">
                        <div class="font-bold">Zone</div>
                     </ion-col>
                     <ion-col class="ion-flex ion-margin-auto justify-content-end">
                        <div>{{objectService.objectHeader.zoneDesc}}</div>
                     </ion-col>
                  </ion-row>
                  <ion-row *ngIf="objectService.objectHeader.rackDesc">
                     <ion-col class="ion-flex ion-margin-auto">
                        <div class="font-bold">Rack</div>
                     </ion-col>
                     <ion-col class="ion-flex ion-margin-auto justify-content-end">
                        <div>{{objectService.objectHeader.rackDesc}}</div>
                     </ion-col>
                  </ion-row>
               </ng-container>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Carton Desc.</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{objectService.objectHeader.cartonDesc}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Remark</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{objectService.objectHeader.remark}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Total Quantity</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{objectService.objectDetail|sum:'qtyRequest'|number}}</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>

      <ion-searchbar #searchbar class="p-0" showCancelButton="never" showClearButton="focus" animated="true" placeholder="Search for Item" enterkeyhint="search" (ionFocus)="highlight(searchbar)" (keydown)="onKeyDown($event, searchbar.value)" (ionClear)="resetFilteredObj()"></ion-searchbar>

      <pagination-controls class="ion-flex justify-content-center pagination-top" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>

      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col size="1" class="ion-flex ion-margin-auto">
                     <div class="font-bold">#</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Item Info</div>
                  </ion-col>
                  <ion-col size="1" class="ion-flex ion-margin-auto justify-content-end">
                     <div class="font-bold">Qty</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let rowData of filteredObj|paginate:{itemsPerPage:itemsPerPage,currentPage:currentPage}; trackBy:identify; let rowIndex = index">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col size="1" class="ion-flex ion-margin-auto">
                     <div>{{rowIndex+1+((currentPage-1)*itemsPerPage)}}</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto">
                     <ion-grid class="ion-no-padding">
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div class="font-bold">{{rowData.itemBarcode}}</div>
                           </ion-col>
                           <ion-col class="ion-flex ion-margin-auto justify-content-end" *ngIf="objectService.configInvCountActivateLineWithBin">
                              <div class="ion-text-wrap font-bold" *ngIf="objectService.configInvCountActivateLineWithBin && !objectService.configInvCountBinFromLocation && rowData.binDesc">
                                 [{{rowData.binDesc}}]</div>
                              <div class="ion-text-wrap font-bold" *ngIf="objectService.configInvCountActivateLineWithBin && objectService.configInvCountBinFromLocation && rowData.binId">
                                 [{{rowData.binId|binMapping:binList}}]</div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div class="ion-flex">
                                 {{rowData.itemCode}}
                                 <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="rowData.variationTypeCode === '0' && rowData.itemUomId">{{rowData.itemUomId|idMapping:objectService.itemUomMasterList}}</span>
                                 <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="rowData.itemVariationXDescription">{{rowData.itemVariationXDescription}}</span>
                                 <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="rowData.itemVariationYDescription">{{rowData.itemVariationYDescription}}</span>
                              </div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div>{{rowData.itemDescription}}</div>
                           </ion-col>
                        </ion-row>
                     </ion-grid>
                  </ion-col>
                  <ion-col size="1" class="ion-margin-auto justify-content-end">
                     <div>
                        <ion-badge mode="ios" class="justify-content-center">{{rowData.qtyRequest|number:"1.0"}}</ion-badge>
                     </div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
   </div>
</ion-content>