<ion-header [translucent]="true">
   <ion-toolbar>
      <ion-title>
         <div class="ion-text-wrap">
            Transfer Bin
         </div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/transactions"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
         <ion-button (click)="filter()">
            <ion-icon slot="icon-only" name="filter"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="p-2">

      <ion-list-header class="ion-list-header ion-flex ion-text-center" *ngIf="!objects||objects?.length === 0">
         <ion-label>Nothing found!</ion-label>
      </ion-list-header>

      <div *ngFor="let m of uniqueGrouping">
         <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
            <ion-label>{{m|date:'dd MMM yyyy'}}</ion-label>
         </ion-list-header>
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item button detail="false" class="ion-no-padding" *ngFor="let object of getObjects(m)" (click)="goToDetail(object.transferBinId)">
               <ion-grid class="ion-no-padding py-2 pl-2">
                  <ion-row>
                     <ion-col class="ion-flex ion-margin-auto justify-content-between">
                        <div class="font-bold">{{object.transferBinNum}}</div>
                        <div>{{object.trxDate|date:"dd/MM/yyyy"}}</div>
                     </ion-col>
                  </ion-row>
                  <ion-row>
                     <ion-col class="ion-flex ion-margin-auto justify-content-between">
                        <div class="ion-flex my-auto"><ion-badge>{{object.locationCode}}</ion-badge> <div class="ion-flex my-auto ml-1">{{object.locationDescription}}</div> </div>
                        <div>{{object.warehouseAgentName}}</div>
                     </ion-col>
                  </ion-row>
               </ion-grid>
            </ion-item>
         </ion-list>
      </div>
   </div>
   <ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
      <ion-fab-button>
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>