<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Others
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Others</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ng-container *ngIf="showOtpConfig">
      <ion-list-header class="ion-list-header-small">
        <ion-label>OTP Configuration</ion-label>
      </ion-list-header>
      <ion-list class="list-custom" lines="full">
        <ion-item button routerLink="otp-configuration">
          <ion-label>
            <h3>Generate OTP</h3>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="otp-config-list">
          <ion-label>
            <h3>OTP History</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>    
    <ng-container *ngIf="showInventoryLevel || showStockCount">
      <ion-list-header class="ion-list-header-small">
        <ion-label>Inventory</ion-label>
      </ion-list-header>
      <ion-list class="list-custom" lines="full">
        <ion-item button routerLink="check-balance" *ngIf="showInventoryLevel">
          <ion-label>
            <h3>Check Balance</h3>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="stock-count" *ngIf="showStockCount">
          <ion-label>
            <h3>Stock Count</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
</ion-content>