<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Customer</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Customer</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <form [formGroup]="objectForm">
      <ion-list class="list-custom" lines="full">        
        <app-search-dropdown *ngIf="transactionShowDetailHeader" title="Location" [searchDropdownList]="locationSearchDropdownList" (onActionComplete)="locationChanged($event)"></app-search-dropdown>        
        <app-search-dropdown title="Customer" [searchDropdownList]="customerSearchDropdownList" (onActionComplete)="onCustomerSelected($event)"></app-search-dropdown>
        <ion-item *ngIf="transactionShowDetailHeader">
          <ion-label position="stacked">Currency</ion-label>
          <ion-select interface="action-sheet" placeholder="Select Currency" formControlName="currencyId" (ionChange)="currencyChanged($event)">
            <ion-select-option *ngFor="let item of currencyMasterList" [value]="item.id">{{item.description}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="transactionShowDetailHeader">
          <ion-label position="stacked">Exchange Rate</ion-label>
          <ion-input type="decimal" formControlName="currencyRate"></ion-input>
        </ion-item>
        <ion-item *ngIf="transactionShowDetailHeader">
          <ion-label position="stacked">Country</ion-label>
          <ion-select interface="action-sheet" placeholder="Select Country" formControlName="countryId">
            <ion-select-option *ngFor="let item of countryMasterList" [value]="item.id">{{item.description}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="transactionShowDetailHeader">
          <ion-label position="stacked">Term Period</ion-label>
          <ion-select interface="action-sheet" placeholder="Select Term Period" formControlName="termPeriodId">
            <ion-select-option *ngFor="let item of termPeriodMasterList" [value]="item.id">{{item.description}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="transactionShowDetailHeader">
          <ion-label position="stacked">Agent</ion-label>
          <ion-select interface="action-sheet" placeholder="Select Agent" formControlName="salesAgentId">
            <ion-select-option *ngFor="let item of salesAgentMasterList" [value]="item.id">{{item.description}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()" [disabled]="!objectForm.valid">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>