<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Settings</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list-header class="ion-list-header-small">
      <ion-label class="pl-2">
        <div>{{companyInfo?.name}}</div>
      </ion-label>
    </ion-list-header>
    <ion-list-header class="ion-list-header-small">
      <ion-label class="pl-2">
        <div>Signed in as: {{loginName}} ({{loginEmail}})</div>
      </ion-label>
    </ion-list-header>
    <ion-list-header class="ion-list-header-small">
      <ion-label class="pl-2">
        <div>User Type: {{userType}}</div>
      </ion-label>
    </ion-list-header>
    <ion-list-header class="ion-list-header-small">
      <ion-label class="pl-2">Quick Actions</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">      
      <ion-item detail="false">
        <ion-label>
          <h3>Manual sync</h3>
          <p class="font-size-smallest">Last sync: {{last_sync_datetime|date:'yyyy-MM-dd hh:mm:ss'}}</p>
        </ion-label>
        <ion-button slot="end" (click)="sync()">
          Sync now
        </ion-button>
      </ion-item>
    </ion-list>
    <hr class="hr-medium">
    <ion-list class="list-custom" lines="full">
      <ion-item button detail="false" (click)="signOut()">
        <ion-avatar slot="start" class="ion-avatar-danger-icon">
          <ion-icon color="danger" name="log-out-outline"></ion-icon>
        </ion-avatar>
        <ion-label color="danger">
          <h3>Sign Out</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} iDCP Systems Sdn Bhd v{{currentVersion}}</small>
      </ion-text>
    </div>
  </div>
</ion-content>