<ion-header>
   <ion-toolbar>
      <ion-title *ngIf="!objectService.object?.header?.isLocal">
         <div class="ion-text-wrap">
            {{objectService.object?.header?.consignmentCountEntryNum}}
         </div>
      </ion-title>
      <ion-title *ngIf="objectService.object?.header?.isLocal">
         <div class="ion-text-wrap">
            DATA-{{objectService.object?.header?.lastUpdated|date:"yyMMddhhmmss"}}
         </div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
         <ion-button (click)="showPopover($event)">
            <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
   <ng-template>
      <ion-content class="p-2">
         <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
            <ion-item (click)="popover.dismiss(); edit()">
               <ion-icon name="create-outline" slot="end"></ion-icon>
               <ion-label>
                  <div>Edit</div>
               </ion-label>
            </ion-item>
            <ion-item (click)="popover.dismiss(); deleteLocal()" *ngIf="objectService.object?.header?.isLocal">
               <ion-icon name="trash-outline" slot="end"></ion-icon>
               <ion-label>
                  <div>Delete</div>
               </ion-label>
            </ion-item>
         </ion-list>
      </ion-content>
   </ng-template>
</ion-popover>
<ion-content fullscreen>
   <div class="p-2" *ngIf="objectService.object">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto justify-content-between">
                     <div class="font-bold">Doc. Num.</div>
                     <ng-container>
                        <div class="font-bold">{{objectService.object.header.consignmentCountEntryNum}}</div>
                     </ng-container>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto justify-content-between">
                     <div class="font-bold">Doc. Date</div>
                     <div>{{objectService.object.header.trxDate|date:"dd/MM/yyyy"}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto justify-content-between">
                     <div class="font-bold">Location</div>
                     <div>{{objectService.object.header.locationId|idMapping:objectService.locationMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto justify-content-between">
                     <div class="font-bold">Total Quantity</div>
                     <div>{{objectService.object.details|sum:"qtyRequest"|number}}</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>

      <ion-searchbar #searchbar class="p-0" showCancelButton="never" showClearButton="focus" animated="true" placeholder="Search for Item" enterkeyhint="search" (ionFocus)="highlight(searchbar)" (keydown)="onKeyDown($event, searchbar.value)" (ionClear)="resetFilteredObj()"></ion-searchbar>

      <pagination-controls class="ion-flex justify-content-center pagination-top" (pageChange)="currentPage=$event" previousLabel="" nextLabel="" [autoHide]="true" [directionLinks]="true" [maxSize]="5"></pagination-controls>

      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col size="1" class="ion-flex ion-margin-auto">
                     <div class="font-bold">#</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Item Info</div>
                  </ion-col>
                  <ion-col size="1" class="ion-flex ion-margin-auto justify-content-end">
                     <div class="font-bold">Qty</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let rowData of filteredObj|paginate:{itemsPerPage:itemsPerPage,currentPage:currentPage}; trackBy:identify; let i = index" (click)="showDetails(rowData)">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col size="1" class="ion-flex ion-margin-auto">
                     <div>{{i+1+((currentPage-1)*itemsPerPage)}}</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto">
                     <ion-grid class="ion-no-padding">
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div class="font-bold">{{rowData.itemCode}}</div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <div>{{rowData.description}}</div>
                           </ion-col>
                        </ion-row>
                        <ion-row>
                           <ion-col class="ion-flex ion-margin-auto">
                              <ion-icon style="position:relative; top:0.1rem" *ngIf="rowData.variationTypeCode !== '0' && !rowData.isSelected" name="add-circle-outline"></ion-icon>
                              <ion-icon style="position:relative; top:0.1rem" *ngIf="rowData.variationTypeCode !== '0' && rowData.isSelected" name="remove-circle-outline"></ion-icon>
                              <div class="font-bold">Total Quantity</div>
                           </ion-col>
                           <ion-col class="ion-flex ion-margin-auto justify-content-end">
                              <div class="font-bold">{{rowData.qtyRequest|number:"1.0"}} </div>
                           </ion-col>
                        </ion-row>
                        <div *ngIf="rowData.isSelected">
                           <ng-container *ngIf="rowData.variationTypeCode === '0' && rowData.assembly && rowData.assembly.length > 0">
                              <ion-row>
                                 <ion-col size="1" class="ion-flex ion-margin-auto">
                                    <div class="font-italic font-bold">#</div>
                                 </ion-col>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <div class="font-italic font-bold">Compon.</div>
                                 </ion-col>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <div class="font-italic font-bold">Desc.</div>
                                 </ion-col>
                                 <ion-col class="ion-margin-auto ion-text-right">
                                    <div class="font-italic font-bold">Ratio</div>
                                 </ion-col>
                                 <ion-col class="ion-margin-auto ion-text-right">
                                    <div class="font-italic font-bold">Qty.</div>
                                 </ion-col>
                              </ion-row>
                              <ion-row *ngFor="let rowData2 of rowData.assembly; let rowIndex2 = index">
                                 <ion-col size="1" class="ion-flex ion-margin-auto">
                                    <div class="font-italic">{{rowIndex2+1}}</div>
                                 </ion-col>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <div class="font-italic">{{rowData2.itemComponentId|offlineItemIdMapping:configService.item_Masters}}</div>
                                 </ion-col>
                                 <ion-col class="ion-flex ion-margin-auto">
                                    <div class="font-italic">{{rowData2.itemComponentId|offlineItemIdDescMapping:configService.item_Masters}}</div>
                                 </ion-col>
                                 <ion-col class="ion-margin-auto ion-text-right">
                                    <div class="font-italic">{{rowData2.itemComponentQty}}</div>
                                 </ion-col>
                                 <ion-col class="ion-margin-auto ion-text-right">
                                    <div class="font-italic">{{rowData2.qtyRequest}}</div>
                                 </ion-col>
                              </ion-row>
                           </ng-container>
                           <ng-container *ngIf="rowData.variationTypeCode !== '0'">
                              <div *ngFor="let vd of rowData.variationDetails">
                                <ion-row *ngFor="let d of filter(vd.details)">
                                  <ion-col size="auto" class="ion-flex ion-margin-auto">
                                    <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="vd.itemVariationXId"> {{vd.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                                    <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="d.itemVariationYId"> {{d.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
                                  </ion-col>
                                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                                    <div>{{d.qtyRequest|number:'1.0'}}</div>
                                  </ion-col>
                                </ion-row>
                              </div>
                           </ng-container>
                         </div>
                     </ion-grid>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
   </div>
</ion-content>