<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showPopover($event)"><ion-icon name="menu-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
  <ng-template>
    <ion-content class="p-2">
      <ion-list class="list-custom" lines="full">
        <ion-item button (click)="isPopoverOpen = false; showHistoryModal()">
          <ion-icon name="time-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Approval History</div>
          </ion-label>
        </ion-item>
        <ion-item button (click)="isPopoverOpen = false; presentAlertViewPdf()">
          <ion-icon name="download-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Download Pdf</div>
          </ion-label>
        </ion-item>
        <ion-item button (click)="isPopoverOpen = false; showStatusModel()">
          <ion-icon name="download-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Status</div>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="processType && selectedSegment === 'pending'" (click)="isPopoverOpen = false; presentConfirmAlert('CONFIRM')">
          <ion-icon name="checkmark-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Approve</div>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="processType && selectedSegment === 'pending'" (click)="isPopoverOpen = false; presentConfirmAlert('REJECT')">
          <ion-icon name="close-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Reject</div>
          </ion-label>
        </ion-item>
        <ion-item button *ngIf="processType && selectedSegment === 'completed'" (click)="isPopoverOpen = false; presentConfirmAlert('REVERSE')">
          <ion-icon name="arrow-undo-outline" slot="end"></ion-icon>
          <ion-label>
            <div>Reverse</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
      <ion-buttons slot="start">
        <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>  
  <div class="p-2" *ngIf="object">
    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label>
          <div>Doc. Number</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{object.header.salesOrderNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <div>Doc. Date</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{object.header.trxDate|date:'dd/MM/yyyy'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <div>Location</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{object.header.locationId|idMapping:locationMasterList}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <div>Total Quantity</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{object.details|sum:'qtyRequest'|number}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <div>Grand Total</div>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{object.details|sum:'subTotal'|number:'1.2-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple" lines="full" *ngFor="let item of object.details" (click)="showDetails(item)">
        <ion-grid class="ion-no-padding p-2">
          <ion-row class="pb-1">
            <ion-col>
              <div class="font-bold">{{item.itemCode}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="pb-1">
            <ion-col>
              <div class="ion-text-wrap">{{item.description}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="pb-1">
            <ion-col>
              <div>Total Quantity</div>
            </ion-col>
            <ion-col>
              <div class="ion-text-right">{{item.qtyRequest|number:'1.0'}} <ion-icon *ngIf="item.variationTypeCode !== '0'" name="information-circle-outline"></ion-icon></div>              
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col>
              <div class="font-bold">
                Unit Price
              </div>
            </ion-col>
            <ion-col>
              <div class="font-bold">
                Disc. Code
              </div>
            </ion-col>
            <ion-col>
              <div class="font-bold ion-text-right">
                Disc. Amt.
              </div>
            </ion-col>
            <ion-col>
              <div class="font-bold ion-text-right">
                SubTotal
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="pb-1">
            <ion-col>
              <div *ngIf="object.header.isDisplayTaxInclusive">{{item.unitPrice}}</div>
              <div *ngIf="!object.header.isDisplayTaxInclusive">{{item.unitPriceExTax}}</div>
            </ion-col>
            <ion-col>
              <div class="ion-flex">
                <div>{{item.discountGroupCode}}</div>
                <div *ngIf="item.discountExpression"> [{{item.discountExpression}}]</div>
              </div>
            </ion-col>
            <ion-col class="ion-text-right">
              <div *ngIf="object.header.isDisplayTaxInclusive">{{item.discountAmt|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
              <div *ngIf="!object.header.isDisplayTaxInclusive">{{item.discountAmtExTax|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
            </ion-col>
            <ion-col class="ion-text-right">
              <div>{{item.subTotal|number: (object?.header?.isHomeCurrency ? precisionSales.localFormat : precisionSales.foreignFormat)}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-modal [isOpen]="variationDialog" (didDismiss)="variationDialog = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Variations</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideVariationDialog()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <div *ngIf="selectedItem.variationTypeCode === '1' || selectedItem.variationTypeCode === '2'" class="py-2">
          <ion-grid class="ion-no-padding">
            <div *ngFor="let vd of selectedItem.variationDetails">
              <ion-row *ngFor="let d of filter(vd.details)">
                <ion-col>
                  <span class="badge-green px-1 mr-1" style="font-size: small;" *ngIf="vd.itemVariationXId"> {{vd.itemVariationXId|idMapping:itemVariationXMasterList}}</span>
                  <span class="badge-purple px-1 mr-1" style="font-size: small;" *ngIf="d.itemVariationYId"> {{d.itemVariationYId|idMapping:itemVariationYMasterList}}</span>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right mr-1">{{d.qtyRequest|number:'1.0'}}</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="historyModal" (didDismiss)="historyModal = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>History</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideHistoryModal()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list-header class="ion-list-header-small" *ngIf="object?.approvalHistory && object?.approvalHistory.length === 0">
          <ion-label>Approval History not available.</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="none">
          <ion-item button="false" *ngFor="let h of object?.approvalHistory">
            <ion-grid class="p-1">
              <ion-row>
                <ion-col>
                  <div>Date</div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right">{{h.createdAt|date:'dd/MM/yyyy hh:mm:ss a'}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>Action By</div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right">{{h.createdBy}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>Status</div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right">{{h.status}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div>Reason</div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right">{{h.reason}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="statusModel" (didDismiss)="statusModel = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Status</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideStatusModel()">Done</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-2">
        <ion-list-header class="ion-list-header-small" *ngIf="!orderStatus">
          <ion-label>Order Status not available.</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="none">          
          <ion-item button="false">
            <ion-grid class="p-1">
              <ion-row>
                <ion-col>
                  <div>Status</div>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right">{{orderStatus?.currentStatus}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-list-header class="ion-list-header-small" *ngIf="orderStatus?.docNum && orderStatus?.docNum?.length > 0">
          <ion-label>Related Doc</ion-label>
        </ion-list-header>
        <ion-list class="list-custom" lines="none" *ngIf="orderStatus?.docNum && orderStatus?.docNum?.length > 0">
          <ion-item button="false" *ngFor="let d of orderStatus?.docNum">
            <ion-label>
              <div>{{d}}</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

