<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Transaction</ion-label>
    </ion-toolbar>
  </ion-header>
  
  <div class="p-2">
    
    <ng-container>
      
      <ion-list class="list-custom" lines="full">

        <ion-item button routerLink="quotation" *ngIf="showQuotation">
          <ion-label>
            <h3>Quotation</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="sales-order" *ngIf="showSalesOrder">
          <ion-label>
            <h3>Sales Order</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="picking" *ngIf="showPicking">
          <ion-label>
            <h3>Picking</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="packing" *ngIf="showPacking">
          <ion-label>
            <h3>Packing</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="consignment-sales" *ngIf="showConsignmentSales">
          <ion-label>
            <h3>Consignment Sales</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="stock-count" *ngIf="showStockCount">
          <ion-label>
            <h3>Stock Count</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="check-balance" *ngIf="showInventoryLevel">
          <ion-label>
            <h3>Check Balance</h3>
          </ion-label>
        </ion-item>        
        
      </ion-list>
    </ng-container>
    
  </div>
</ion-content>  