<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Transaction</ion-label>
    </ion-toolbar>
  </ion-header>  
  <div class="p-2">    
    <ng-container>      
      <ion-list class="list-custom" lines="full">

        <ion-item button routerLink="quotation" *ngIf="showQuotation">
          <!-- <fa-icon icon="credit-card-alt" fixed-width="true"></fa-icon> -->
          <!-- <i class="fa fa-bath" aria-hidden="true"></i> -->
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Quotation</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="sales-order" *ngIf="showSalesOrder">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Sales Order</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="picking" *ngIf="showPicking">
          <ion-icon name="people-circle-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Picking</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="packing" *ngIf="showPacking">
          <ion-icon name="cube-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Packing</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="consignment-sales" *ngIf="showConsignmentSales">
          <ion-icon name="storefront-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Consignment Sales</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="stock-count" *ngIf="showStockCount">
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Stock Count</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="check-balance" *ngIf="showInventoryLevel">
          <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Check Balance</h3>
          </ion-label>
        </ion-item>
        
        <ion-item button routerLink="cash-deposit" *ngIf="showCashDeposit">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Cash Deposit</h3>
          </ion-label>
        </ion-item>

        <ion-item button routerLink="truck-loading" *ngIf="showTruckLoading">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Truck Loading</h3>
          </ion-label>
        </ion-item>
        
        <ion-item button routerLink="inter-transfer" *ngIf="showInterTransfer">
          <ion-icon name="shuffle-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Inter Transfer</h3>
          </ion-label>
        </ion-item>
        
      </ion-list>
    </ng-container>
    
  </div>
</ion-content>  