<ion-grid class="ion-no-padding">
   <ion-row>
      <ion-col class="ion-flex ion-margin-auto">
         <input #itemInput class="p-2 ion-flex ion-text-center" type="text" enterkeyhint="enter" [(ngModel)]="itemSearchValue" placeholder="Enter Item Code" (keydown)="handleItemCodeKeyDown($event, itemSearchValue)">
      </ion-col>
   </ion-row>
</ion-grid>

<ion-modal #itemModal [isOpen]="itemModalOpen" (didDismiss)="itemModalOpen = false; setFocus()">
   <ng-template>
      <ion-header>
         <ion-toolbar>
            <ion-title>Items</ion-title>
            <ion-buttons slot="start">
               <ion-button (click)="itemModal.dismiss()">Cancel</ion-button>
            </ion-buttons>
         </ion-toolbar>
      </ion-header>
      <ion-content>
         <div class="p-2">
            <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
               <ion-item detail="false" class="ion-no-padding no-ripple" *ngFor="let rowData of availableItem" (click)="showVariation(rowData)">
                  <ion-grid class="ion-no-padding py-2 pl-2">
                     <ion-row>
                        <ion-col class="ion-flex ion-margin-auto">
                           <div>{{rowData.itemCode}} - {{rowData.description}}</div>
                        </ion-col>
                     </ion-row>
                  </ion-grid>
               </ion-item>
            </ion-list>
         </div>
      </ion-content>
   </ng-template>
</ion-modal>

<ion-modal #variationModal [isOpen]="itemVariationModalOpen" (didDismiss)="itemVariationModalOpen = false; setFocus()" style="background-color: white;">
   <ng-template>
      <ion-header>
         <ion-toolbar>
            <ion-title>Variations</ion-title>
            <ion-buttons slot="start">
               <ion-button (click)="variationModal.dismiss()">Cancel</ion-button>
            </ion-buttons>
         </ion-toolbar>
      </ion-header>
      <ion-content>
         <div class="p-2" *ngIf="selectedItem">
            <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
               <ion-label>{{selectedItem.itemCode}} - {{selectedItem.description}}</ion-label>
            </ion-list-header>
            
            <ion-list class="list-custom animate__animated animate__fadeIn custom-border" lines="full">
               <ng-container *ngIf="selectedItem.variationDetails">
                  <div class="table-container" style="scroll-behavior: smooth;">
                     <table id="qtyMatrix">
                        <thead>
                           <tr>
                              <th class="p-1 font-half-size ion-text-left sticky-top"></th>
                              <th class="p-1 font-half-size sticky-top" *ngFor="let rowData of selectedItem.variationY">
                                 <div class="ion-flex">
                                    <ion-badge *ngIf="configItemVariationMatrixShowCodeDesc && rowData">{{rowData|idToCodeMapping:itemVariationYMasterList}}</ion-badge>
                                    <div class="ml-1 my-auto">{{rowData|idMapping:itemVariationYMasterList}}</div>
                                 </div>
                              </th>
                           </tr>
                        </thead>
                        <tbody style="margin-top: 2.5rem;">
                           <tr *ngFor="let rowData of selectedItem.variationDetails">
                              <td class="p-1 font-half-size">
                                 <div class="ion-flex">
                                    <ion-badge *ngIf="configItemVariationMatrixShowCodeDesc">{{rowData.itemVariationXId|idToCodeMapping:itemVariationXMasterList}}</ion-badge>
                                    <div class="ml-1 my-auto">{{rowData.itemVariationXId|idMapping:itemVariationXMasterList}}</div>
                                 </div>
                              </td>
                              <td class="p-1 font-half-size ion-text-right" *ngFor="let rowData2 of rowData.details">
                                 <ion-input #input class="ion-text-center" type="number" [min]="0" [(ngModel)]="rowData2.qtyRequest" placeholder="0" (ionFocus)="highlight(input)" [enterkeyhint]="'next'" [disabled]="rowData2.deactivated"></ion-input>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </ng-container>
            </ion-list>
         </div>
      </ion-content>
      <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
         <ion-button class="ion-margin" expand="block" (click)="addVariations()">
            Add Item(s)
         </ion-button>
      </ion-footer>
   </ng-template>
</ion-modal>
