<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Sales Order</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Sales Order</ion-label>
    </ion-toolbar>
  </ion-header>  
  <div class="ion-padding"> 
    <ion-list class="list-custom" lines="full">
      <app-search-dropdown title="Customer" [searchDropdownList]="customerSearchDropdownList" (onActionComplete)="onCustomerSelected($event)"></app-search-dropdown>
    </ion-list>
    <ion-list-header class="ion-list-header-small">
      <ion-label>Available Sales Orders</ion-label>
    </ion-list-header>    
    <ng-container *ngIf="pickingSalesOrders?.length === 0">
      <p>
        <ion-text color="tertiary">
          <h3>Nothing found!</h3>
        </ion-text>
      </p>
    </ng-container>
    <ion-card class="mx-0 my-1" *ngFor="let item of pickingSalesOrders" (click)="salesOrderSelected(item)">
      <ion-card-header class="px-2 pt-2 pb-0">
        <ion-card-subtitle>{{item.header.trxDate|date:'dd/MM/yyyy'}}</ion-card-subtitle>
        <ion-card-title>{{item.header.salesOrderNum}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="px-2 pt-0 pb-2">

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>