<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Sales Order</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sales Order</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="ion-padding"> 
    <ion-list class="list-custom" lines="full">

      <app-search-dropdown title="Customer" [searchDropdownList]="customerSearchDropdownList" (onActionComplete)="onCustomerSelected($event)"></app-search-dropdown>
      
      <app-search-dropdown title="Location" [searchDropdownList]="locationSearchDropdownList" (onActionComplete)="onLocationSelectd($event)"></app-search-dropdown>

    </ion-list>
    <ion-button class="mt-1" expand="block" size="small" (click)="loadSalesOrders()">Search</ion-button>
  </div>

</ion-content>