<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Approvals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Approvals</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">

    <ng-container *ngIf="showQuotationReview || showQuotationApproval">
      <ion-list-header class="ion-list-header-small">
        <ion-label>Quotation</ion-label>
      </ion-list-header>
      <ion-list class="list-custom" lines="full">
        <ion-item button routerLink="quotation-reviews" *ngIf="showQuotationReview">
          <ion-label>
            <h3>Reviews</h3>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="quotation-approvals" *ngIf="showQuotationApproval">
          <ion-label>
            <h3>Approvals</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="showSalesOrderReview || showSalesOrderApproval">
      <ion-list-header class="ion-list-header-small">
        <ion-label>Sales Order</ion-label>
      </ion-list-header>
      <ion-list class="list-custom" lines="full">
        <ion-item button routerLink="sales-order-reviews" *ngIf="showSalesOrderReview">
          <ion-label>
            <h3>Reviews</h3>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="sales-order-approvals" *ngIf="showSalesOrderApproval">
          <ion-label>
            <h3>Approvals</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

    <ng-container *ngIf="showPurchaseOrderReview || showPurchaseOrderApproval">
      <ion-list-header class="ion-list-header-small">
        <ion-label>Purchase Order</ion-label>
      </ion-list-header>
      <ion-list class="list-custom" lines="full">
        <ion-item button routerLink="purchase-order-reviews" *ngIf="showPurchaseOrderReview">
          <ion-label>
            <h3>Reviews</h3>
          </ion-label>
        </ion-item>
        <ion-item button routerLink="purchase-order-approvals" *ngIf="showPurchaseOrderApproval">
          <ion-label>
            <h3>Approvals</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

  </div>
</ion-content>