<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-wrap">
        Quotation
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/transactions"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="p-2">
    <ion-list-header class="ion-list-header ion-flex ion-text-center" *ngIf="objects && objects.length === 0">
      <ion-label>Nothing found!</ion-label>
    </ion-list-header>
    <ng-container *ngIf="objects?.length > 0">
      <div *ngFor="let m of uniqueGrouping">
        <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
          <ion-label>{{m|date:'dd MMM yyyy'}}</ion-label>
        </ion-list-header>
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item-sliding *ngFor="let rowData of getObjects(m)">
            <ion-item button detail="false" class="ion-no-padding" (click)="goToDetail(rowData.quotationId)">
              <ion-grid class="ion-no-padding py-2 pl-2">
                <ion-row>
                  <ion-col class="ion-flex ion-margin-auto font-bold">
                    {{rowData.quotationNum}}                    
                    <ion-icon class="ion-flex ml-2" name="ellipse" [class]="rowData.deactivated?'color-danger':'color-success'"></ion-icon>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end"><ion-badge><div class="ion-text-right">{{rowData.currencyCode}} {{rowData.grandTotal|number:'1.2'}}</div></ion-badge></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">{{rowData.customerName}}</ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">{{rowData.salesAgentName}}</ion-col>
                </ion-row>
                <ion-row *ngIf="rowData.otherAmountCount && rowData.otherAmountCount > 0">
                   <ion-col class="ion-flex ion-margin-auto">
                      <ion-icon class="ion-flex my-auto" name="star" color="success"></ion-icon>
                      <div class="ion-flex ion-text-wrap ml-1">Charges Assigned</div>
                   </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="presentAlertViewPdf(rowData)">DOWNLOAD</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </ng-container>
  </div>

  <ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>