<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Items</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="px-3">
    <ion-searchbar class="p-0" showCancelButton="focus" animated="true" placeholder="Search for Item" [(ngModel)]="itemSearchText" (ionChange)="searchTextChanged()" (search)="searchItem()"></ion-searchbar>    
    <ion-button class="mt-1" expand="block" (click)="searchItem()">Search</ion-button>
  </div>
  <!-- Skeletons -->
  <!-- <div class="ion-padding">
    <app-listing-skeleton [size]='2' *ngIf="itemToDisplay.length === 0"></app-listing-skeleton>
  </div> -->
  <div class="p-2 main-card">
    <ion-grid *ngIf="itemToDisplay.length > 0" class="ion-no-padding">
      <ion-row>
        <ion-col size="6" *ngFor="let item of itemToDisplay" class="ion-no-padding">
          <ion-card class="m-1">
            <ion-img style="height: 120px" [src]="matchImage(item.itemId)"></ion-img>
            <ion-card-header class="pt-1 pb-0 px-2">
              <ion-card-title style="font-size: medium;">{{item.itemCode}}</ion-card-title>
              <ion-card-subtitle style="min-height: 40px; font-size: x-small; font-weight: normal;">{{item.description}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="py-0 px-2" *ngIf="item.variationTypeCode === '0'">
              <!-- <p style="font-size: x-small;"><span class="badge-green font-bold px-1 mr-1" *ngIf="item.itemVariationLineXDescription"><ion-label size="small"> {{item.itemVariationLineXDescription}}</ion-label></span><span class="badge-purple font-bold px-1 mr-1" *ngIf="item.itemVariationLineYDescription"><ion-label size="small"> {{item.itemVariationLineYDescription}}</ion-label></span></p> -->
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col>
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col>
                          <ion-button fill="clear" color="primary" size="small" (click)="decreaseQty(item)">
                            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col>
                          <ion-input style="text-align: center;" class="ion-no-padding" type="number" [min]="0" [max]="999" [(ngModel)]="item.qtyRequest" placeholder="0"></ion-input>
                        </ion-col>
                        <ion-col>
                          <ion-button fill="clear" color="primary" size="small" (click)="increaseQty(item)">
                            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-button class="pb-2" expand="block" size="small" *ngIf="item.qtyRequest > 0" (click)="addItemToCart(item)">Add to Cart</ion-button>
            </ion-card-content>
            <ion-card-content class="py-0 px-2" *ngIf="item.variationTypeCode === '1' || item.variationTypeCode === '2'">
              <ion-button class="pb-2" expand="block" size="small" (click)="handleVariationsQty(item.itemId)">View Variations</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Variations</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="ion-no-padding" *ngIf="itemToViewVariation && itemToViewVariation.length > 0">
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item button detail="false" class="pr-2 no-ripple">
            <ion-grid class="ion-no-padding" *ngIf="itemToViewVariation[0].variationTypeCode === '1' || itemToViewVariation[0].variationTypeCode === '2'">          
              <ion-row class="py-1">
                <ion-col>
                  <p>{{itemToViewVariation[0].itemCode}}</p>
                </ion-col>
                <ion-col>
                  <p style="text-align: end;">{{itemToViewVariation[0].unitPrice|number:'1.2'}}</p>
                </ion-col>
              </ion-row>          
              <ion-row class="py-1">
                <ion-col>
                  <p style="font-size: small;">{{itemToViewVariation[0].description}}</p>
                </ion-col>
              </ion-row>          
              <ion-row *ngFor="let item of itemToViewVariation">          
                <ion-col class="pt-1" size="7">
                  <p>
                    <span class="badge-green font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="item.itemVariationLineXDescription"> {{item.itemVariationLineXDescription}}</span>
                    <span class="badge-purple font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="item.itemVariationLineYDescription"> {{item.itemVariationLineYDescription}}</span>
                  </p>
                </ion-col>          
                <ion-col size="5">          
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col>
                        <ion-button fill="clear" color="primary" size="small" (click)="decreaseVariationQty(item)">
                          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col style="padding-top: 0.35rem;">
                        <ion-input style="text-align: center;" class="ion-no-padding" type="number" [min]="0" [(ngModel)]="item.qtyRequest" placeholder="0"></ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-button fill="clear" color="primary" size="small" (click)="increaseVariationQty(item)">
                          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>          
                </ion-col>          
              </ion-row>          
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>

    <ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-button class="ion-margin" expand="block" (click)="addItemVariationToCart()">
              Add to cart
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>

  </ng-template>
</ion-modal>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" (click)="nextStep()">
          View Cart
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>