<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Items</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="previousStep()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="font-x-large">Items</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="px-3">
    <ion-searchbar class="p-0" showCancelButton="focus" animated="true" placeholder="Search for Item" [(ngModel)]="itemSearchText" (ionChange)="searchTextChanged()" (search)="searchItem()"></ion-searchbar>
    <ion-button class="my-1" expand="block" size="small" (click)="searchItem()">Search</ion-button>
  </div>

  <app-item-add-grid *ngIf="loadImage" [availableItem]="availableItem" [availableImages]="availableImages" [itemInCart]="itemInCart" (onItemInCartEditCompleted)="onItemInCartEditCompleted($event)"></app-item-add-grid>

  <app-item-add-list *ngIf="!loadImage" [availableItem]="availableItem" [itemInCart]="itemInCart" (onItemInCartEditCompleted)="onItemInCartEditCompleted($event)"></app-item-add-list>
  
</ion-content>

<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="small" (click)="nextStep()">
    View Cart
  </ion-button>
</ion-footer>