<ion-content>

<div class="ion-padding ion-full-height ion-flex ion-flex-center">
    <div class="logo-container">
      <h1 class="logo-placeholder">{{companyName}}</h1>
      <p>Enter your email.</p>
    </div>
    <form class="form-default" [formGroup]="object_form">
      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Email</ion-label>
          <ion-input formControlName="userEmail" type="email" autocomplete="off" placeholder="Your email address"></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <ion-button class="ion-margin-top" type="submit" expand="block" color="primary" [disabled]="submit_attempt || !object_form.valid" (click)="emailResetLink()">
      Email Reset Link
    </ion-button>
    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium" (click)="backToLogin($event)">
        <small>Back to Login</small>
      </ion-text>
    </div>
  </div>

</ion-content>