<ion-content>
  <div class="p-2 ion-full-height ion-flex ion-flex-center">
    <div class="logo-container">
      <ion-img src="../../../../assets/idcp/logo-idcp.svg" style="width: 50%" class="animate__animated animate__fadeInDown ion-flex ion-margin-auto" alt="iDCP Logo"></ion-img>
      <p>Enter your email.</p>
    </div>
    <ion-list class="item-card-list" lines="none">
      <form class="form-default" [formGroup]="object_form">        
        <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
          <ion-item *ngIf="configService.sys_parameter && configService.sys_parameter.length > 1">
            <ion-label color="tertiary" position="stacked">Company</ion-label>
            <ion-select interface="action-sheet" placeholder="Company" formControlName="apiUrl">
              <ion-select-option *ngFor="let s of configService.sys_parameter" [value]="s.apiUrl">{{mapCompanyName(s.apiUrl)}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label color="tertiary" position="stacked">Email</ion-label>
            <ion-input formControlName="userEmail" type="email" autocomplete="off" placeholder="Your email address"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-list>
    <ion-button class="ion-margin-top" type="submit" expand="block" color="primary" [disabled]="submit_attempt || !object_form.valid" (click)="emailResetLink()">
      Email Reset Link
    </ion-button>
    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium" (click)="backToLogin($event)">
        <small>Back to Login</small>
      </ion-text>
    </div>
  </div>
</ion-content>