<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
    </ion-toolbar>
  </ion-header>  
  <div class="ion-padding" *ngIf="picking">
    <ion-list-header class="ion-list-header-small">
      <ion-label>Information</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label position="stacked"><p>Picking Num</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{picking.header.pickingNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><p>Trx Date</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{picking.header.trxDate|date:'dd/MM/yyyy'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><p>Location</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{picking.header.locationId|idMapping:locationMasterList}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><p>Customer</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{picking.header.customerId|idMapping:customerMasterList}}"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-list-header class="ion-list-header-small">
      <ion-label>Details</ion-label>
    </ion-list-header>

    <ion-accordion-group #accordianGroup1>
      <ion-accordion *ngFor="let salesOrder of picking.details;">
        <ion-item slot="header" color="light">
          <ion-label>{{salesOrder.salesOrderNum}}</ion-label>
        </ion-item>
        <div class="main-card ion-no-padding" slot="content">
          <ion-grid class="ion-no-padding" *ngIf="salesOrder.currentPickList.length > 0">
            <ion-row>
              <ion-col size="12" class="py-0" *ngFor="let soLine of salesOrder?.currentPickList">
                <ion-card class="m-1">
                  <ion-card-header class="px-2 pt-2 pb-0">
                    <ion-card-title>
                      <ion-grid class="ion-no-padding">
                        <ion-row>
                          <ion-col>
                            {{soLine.itemCode}}
                          </ion-col>                            
                        </ion-row>
                      </ion-grid>
                    </ion-card-title>
                    <ion-card-subtitle>{{soLine.description}}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content class="py-0">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <span class="badge-green font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="soLine.itemVariationXDescription"> {{soLine.itemVariationXDescription}}</span>
                        <span class="badge-purple font-bold px-1 mr-1" style="font-size: x-small;" *ngIf="soLine.itemVariationYDescription"> {{soLine.itemVariationYDescription}}</span>
                      </ion-row>
                      <ion-row>
                        <ion-col class="ion-margin-auto">
                          <ion-label class="font-smaller">Picked Qty: {{(soLine.qtyPicked + soLine.qtyPicked)|number:'1.0'}}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
    </ion-accordion-group>

  </div>
</ion-content>
