<ion-header>
   <ion-toolbar>
      <ion-title>
         <div class="ion-text-wrap">
            Payment Arrangement Reviews
         </div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/managements"></ion-back-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <app-multico-transaction-processing trxEndPoint="MobilePaymentArrangementReview" [limitCol]="true" [specialTransaction]="true"></app-multico-transaction-processing>
</ion-content>