<ion-header>
   <ion-toolbar>
      <ion-title>
         <div class="ion-text-wrap">{{title}}</div>
      </ion-title>
      <ion-buttons slot="start">
         <ion-button (click)="closeRef()">Done</ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content>

   <div>
      <ng-container *ngIf="displayMode === 0">
         
         <ion-list class="item-card-list" lines="none">
            <ion-item>
               <ion-label color="tertiary" position="stacked">Email</ion-label>
               <ion-input [(ngModel)]="loginModel.userEmail" type="email" autocomplete="off" placeholder="Your email address" [disabled]="true"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label color="tertiary" position="stacked">Password</ion-label>
               <ion-input [(ngModel)]="loginModel.password" type="password" placeholder="Your password"></ion-input>
            </ion-item>
         </ion-list>

         <ion-button class="ion-margin-top px-3" type="submit" expand="block" color="primary" (click)="login()">
            LOGIN
         </ion-button>

         <div class="flex flex-column">
            <div class="mt-2" *ngIf="loginError.length > 0">
               <ion-badge color="danger">{{loginError}}</ion-badge>
               <!-- <p-tag styleClass="mr-2" icon="pi pi-lock" severity="danger">{{loginError}} </p-tag> -->
            </div>
            <div class="mt-2" *ngIf="inputRequired.length > 0">
               <ion-badge color="danger">{{inputRequired}}</ion-badge>
               <!-- <p-tag styleClass="mr-2" severity="danger">{{inputRequired}} </p-tag> -->
            </div>
         </div>
      </ng-container>
      <ng-container *ngIf="displayMode === 1">
         <div class="flex flex-column">
            <hr />
            <div class="flex justify-content-center font-bold text-2xl color-primary">
               Refresh Token Acquired Successfully!
            </div>
            <hr />
            <div class="mt-5 flex justify-content-center">
               <ion-button class="ion-margin-top px-3" type="submit" expand="block" color="primary" (click)="closeRef()">
                  Close
               </ion-button>
            </div>
         </div>
      </ng-container>
   </div>
</ion-content>
<!-- <p-dialog [(visible)]="show2FaDialog" [style]="{width: '400px'}" header="2FA Required" [modal]="false" styleClass="p-fluid" (onHide)="on2FaDialogHide()" appendTo="body">
   <ng-template pTemplate="content">
       <div *ngIf="isDisplayQrImage()">
           <div class="font-bold flex justify-content-center">Please download Microsoft/Google Authenticator, scan the QR Code (Or input manual code) to register for 2FA:</div>
           <div class="flex justify-content-center">
               <img [src]="get2FAQrImage()"/>
           </div>
           <div class="flex justify-content-center align-items-center mb-3" *ngIf="get2FAManualKey()">{{ get2FAManualKey() }}<i class="ml-2 pi pi-copy cursor-pointer" pTooltip="Copy to clipboard" (click)="copyToClipboard(get2FAManualKey())"></i></div>
       </div>
       <div class="mt-3">
           <p-divider align="center" [style]="{'z-index': '0'}">
               <div class="flex justify-content-center col-12 p-0">
                   <span class="badge-purple font-bold px-2 py-1">Please Input OTP From Authenticator</span>
               </div>
           </p-divider>
           <code-input #codeInput2Fa [isCodeHidden]="false" initialFocusField=0
           [codeLength]="6"
           (codeCompleted)="onCodeCompleted($event)">
           </code-input>
           <p-divider align="center" [style]="{'z-index': '0'}">
           </p-divider>
       </div>
   </ng-template>
</p-dialog> -->
<!-- <p-toast key="codeDialog" position="bottom-center" [style]="{'white-space': 'pre-line'}"></p-toast> -->