<ion-header>
   <ion-toolbar>
      <ion-title><div class="ion-text-wrap">{{object?.header?.truckLoadingNum}}</div></ion-title>
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/transactions/truck-loading"></ion-back-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
<ion-content>
   <div class="p-2" *ngIf="object">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Num.</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object.header.truckLoadingNum}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Date</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object.header.trxDate|date:'dd/MM/yyyy'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Vendor</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object.header.vendorId|idMapping:objectService.vendorMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Ship Method</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object.header.shipMethodId|idMapping:objectService.shipMethodMasterList}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Created By</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{object.header.createdBy}} {{object.header.createdAt|date:"dd/MM/yy hh:mm a"}}</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
      <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
         <ion-label>Details</ion-label>
      </ion-list-header>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
         <ion-item button detail="false" class="ion-no-padding no-ripple" *ngFor="let line of object.details">
            <ion-grid class="ion-no-padding py-2 pl-2">
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Num.</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.trxNum}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Doc. Type</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.trxType}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">From Location</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.fromLocation}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Customer/To Location</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.toLocation}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Total Carton</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.totalCarton}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Total Quantity</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.qty|number:'1.0'}}</div>
                  </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col class="ion-flex ion-margin-auto">
                     <div class="font-bold">Remark</div>
                  </ion-col>
                  <ion-col class="ion-flex ion-margin-auto justify-content-end">
                     <div>{{line.remark}}</div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-item>
      </ion-list>
   </div>
</ion-content>