<ion-header>
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="p-2">    
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" class="ion-no-padding no-ripple">
        <ion-grid class="ion-no-padding p-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Num.</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectSummary.header.quotationNum}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Doc. Date</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectSummary.header.trxDate|date:"dd/MM/yyyy"}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Location</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectSummary.header.locationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Customer</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectSummary.header.customerId|idMapping:objectService.customerMasterList}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Total Quantity</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectDetail|sum:"qtyRequest"|number:"1.0"}}</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="objectService.systemWideActivateTaxControl">
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Tax Amt.</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectDetail|sum:"taxAmt"|number:(objectService.objectHeader?objectService.precisionSales.localFormat:objectService.precisionSales.foreignFormat)}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">Grand Total</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{objectService.objectDetail|sum:"subTotal"|number:(objectService.objectHeader?objectService.precisionSales.localFormat:objectService.precisionSales.foreignFormat)}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item [ngClass]="{'color-blue':item.isPricingApproval }" class="ion-no-padding no-ripple" *ngFor="let item of objectService.objectSummary.details" (click)="showDetails(item)">
        <ion-grid class="ion-no-padding p-2">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">{{item.itemCode}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="ion-text-wrap">{{item.description}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <ion-icon style="position:relative; top:0.1rem" *ngIf="item.variationTypeCode !== '0'" name="add-circle-outline"></ion-icon>
              <div>Total Quantity</div>
            </ion-col>
            <ion-col>
              <div class="ion-text-right">{{item.qtyRequest|number:'1.0'}} </div>
            </ion-col>
          </ion-row>
          <div *ngIf="item.isSelected">
            <div *ngFor="let vd of item.variationDetails">
              <ion-row *ngFor="let d of filter(vd.details)">
                <ion-col size="auto" class="ion-flex ion-margin-auto">
                  <span class="badge-green ion-text-wrap ion-flex my-auto px-1 mx-1" *ngIf="vd.itemVariationXId"> {{vd.itemVariationXId|idMapping:objectService.itemVariationXMasterList}}</span>
                  <span class="badge-purple ion-text-wrap ion-flex my-auto px-1" *ngIf="d.itemVariationYId"> {{d.itemVariationYId|idMapping:objectService.itemVariationYMasterList}}</span>
                </ion-col>
                <ion-col>
                  <div class="ion-text-right">{{d.qtyRequest|number:'1.0'}}</div>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">
                Unit Price
              </div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">
                Disc. Code
              </div>
            </ion-col>
            <ion-col>
              <div class="font-bold ion-text-right">
                Disc. Amt.
              </div>
            </ion-col>
            <ion-col>
              <div class="font-bold ion-text-right">
                SubTotal
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div *ngIf="objectService.objectSummary.header.isDisplayTaxInclusive">{{item.unitPrice|number:(objectService.objectSummary?.header?.isHomeCurrency?objectService.precisionSalesUnitPrice.localFormat:objectService.precisionSalesUnitPrice.foreignFormat)}}</div>
              <div *ngIf="!objectService.objectSummary.header.isDisplayTaxInclusive">{{item.unitPriceExTax|number:(objectService.objectSummary?.header?.isHomeCurrency?objectService.precisionSalesUnitPrice.localFormat:objectService.precisionSalesUnitPrice.foreignFormat)}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="ion-flex">
                <div>{{item.discountGroupCode}}</div>
                <div *ngIf="item.discountExpression"> [{{item.discountExpression}}]</div>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-right" *ngIf="objectService.objectSummary.header.isDisplayTaxInclusive">{{item.discountAmt|number:(objectService.objectSummary?.header?.isHomeCurrency?objectService.precisionSales.localFormat:objectService.precisionSales.foreignFormat)}}</div>
              <div class="ion-text-right" *ngIf="!objectService.objectSummary.header.isDisplayTaxInclusive">{{item.discountAmtExTax|number:(objectService.objectSummary?.header?.isHomeCurrency?objectService.precisionSales.localFormat:objectService.precisionSales.foreignFormat)}}</div>
            </ion-col>
            <ion-col>
              <div class="ion-text-right">{{item.subTotal|number:(objectService.objectSummary?.header?.isHomeCurrency?objectService.precisionSales.localFormat:objectService.precisionSales.foreignFormat)}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color:white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="addMore()">
          Add New
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="done()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>