<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
    </ion-toolbar>
  </ion-header>  
  <div class="p-2" *ngIf="object">
    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label [ngStyle]="{'font-weight': 'bold'}" position="stacked">
          <div>Packing Num</div>
        </ion-label>
        <ion-input readonly class="font-size-small" value="{{object.header.packingNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'font-weight': 'bold'}" position="stacked">
          <div>Trx Date</div>
        </ion-label>
        <ion-input readonly class="font-size-small" value="{{object.header.trxDate|date:'dd/MM/yyyy'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'font-weight': 'bold'}" position="stacked">
          <div>Location</div>
        </ion-label>
        <ion-input readonly class="font-size-small" value="{{object.header.locationId|idMapping:locationMasterList}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'font-weight': 'bold'}" position="stacked">
          <div>Customer</div>
        </ion-label>
        <ion-input readonly class="font-size-small" value="{{object.header.customerId|idMapping:customerMasterList}}"></ion-input>
      </ion-item>
    </ion-list>    
    <ion-list-header class="ion-list-header-small ion-flex ion-text-center">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <app-item-view-list-flat [data]="object.details" [isWithSo]="object.header.isWithSo" [isPacking]="true" [itemVariationXMasterList]="itemVariationXMasterList" [itemVariationYMasterList]="itemVariationYMasterList"></app-item-view-list-flat>
  </div>
</ion-content>
