<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Detail</ion-label>
    </ion-toolbar>
  </ion-header>  
  <div class="ion-padding" *ngIf="object">
    <ion-list-header class="ion-list-header-small">
      <ion-label>Information</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label position="stacked"><p>Packing Num</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{object.header.packingNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><p>Trx Date</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{object.header.trxDate|date:'dd/MM/yyyy'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><p>Location</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{object.header.locationId|idMapping:locationMasterList}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"><p>Customer</p></ion-label>
        <ion-input readonly class="font-size-small ion-no-padding-end" value="{{object.header.customerId|idMapping:customerMasterList}}"></ion-input>
      </ion-item>
    </ion-list>    
    <ion-list-header class="ion-list-header-small">
      <ion-label>Detail Line</ion-label>
    </ion-list-header>
    <app-item-view-list-flat [data]="object.details" [isWithSo]="object.header.isWithSo" [isPacking]="true" [itemVariationXMasterList]="itemVariationXMasterList" [itemVariationYMasterList]="itemVariationYMasterList"></app-item-view-list-flat>
  </div>
</ion-content>
