<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detail
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="{{parent}}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding" *ngIf="flattenQuotation">
    <ion-list-header class="ion-list-header-small">
      <ion-label>Information</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label>
          <p>Quotation Number</p>
        </ion-label>
        <!-- <ion-badge color="danger" mode="ios" slot="end">- $8.60</ion-badge> -->
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{flattenQuotation.header.quotationNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Trx Date</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{flattenQuotation.header.trxDate|date:'dd/MM/yyyy'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Location</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{flattenQuotation.header.locationId|idMapping:locationMasterList}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Total Quantity</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{flattenQuotation.details|sum:'qtyRequest'|number}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Grand Total</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{flattenQuotation.details|sum:'subTotal'|number:'1.2-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list-header class="ion-list-header-small">
      <ion-label>Details</ion-label>
    </ion-list-header>

    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <ion-item button detail="false" *ngFor="let item of flattenQuotation.details" >
        <!-- <ion-avatar slot="start" class="ion-avatar-default-icon">
          <ion-icon name="cafe"></ion-icon>
        </ion-avatar> -->
        <ion-label class="my-2">
          <div style="display: inline-flex;">
            <h3 style="font-size: smaller;">{{item.itemCode}}</h3>
            <p class="ml-2 pt-1" style="font-size: x-small; display: inline-block;"><span class="badge-green font-bold px-1 mr-1" *ngIf="item.itemVariationXId"> {{item.itemVariationXId|idMapping:itemVariationXMasterList}}</span><span class="badge-purple font-bold px-1 mr-1" *ngIf="item.itemVariationYId"> {{item.itemVariationYId|idMapping:itemVariationYMasterList}}</span></p>
          </div>
          <p style="font-size: x-small;">{{item.description}}</p>
        </ion-label>
        <ion-badge mode="ios" slot="end"> {{item.qtyRequest|number:'1.0'}}</ion-badge>
      </ion-item>
    </ion-list>

  </div>
</ion-content>