<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="apply()">
        Apply
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>    
    <ion-searchbar #searchBar class="p-0" showCancelButton="focus" animated="true" [placeholder]="'Search for ...' " (ionChange)="searchItem($event)" (search)="searchItem($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="p-2">
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="none">
      <ion-item button detail="false" *ngFor="let item of tempDropdownList" (click)="chooseThis(item)">
        <ion-label>{{item.description}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>