<ion-content>
  
  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="logo-placeholder">IDCP Mobile</h1>
      <p>Login to your account.</p>
    </div>

    <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">

      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Email</ion-label>
          <ion-input formControlName="userEmail" type="email" autocomplete="off"
            placeholder="Your email address"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top-small">
          <ion-label color="tertiary" position="stacked">Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Your password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" type="submit" expand="block" color="primary">
        Sign in
      </ion-button>

    </form>

    <div class="ion-text-center ion-margin-top">
      <ion-text color="medium">
        <small>&copy; {{current_year}} iDCP Systems Sdn Bhd v{{currentVersion}}</small>
      </ion-text>
    </div>

  </div>

</ion-content>