<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="ion-text-wrap">
        Exchange Approvals
      </div>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/managements"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>  
  <app-pos-approval-processing [pendingDocList]="pendingDocList" [completedDocList]="completedDocList" (onObjectUpdated)="onObjectUpdated($event)" parentType="pos-exchange" processType="APPROVALS"></app-pos-approval-processing>
</ion-content>