<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Summary</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list-header class="ion-list-header-small">
      <ion-label>Information</ion-label>
    </ion-list-header>
    <ion-list class="list-custom" lines="full">
      <ion-item>
        <ion-label>
          <p>Document Num</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{objectSummary.consignmentSalesNum}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Trx Date</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{objectSummary.trxDate|date:'yyyy-MM-dd'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Customer Name</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{objectSummary.customerId|idMapping:objectService.customerMasterList}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Location</p>
        </ion-label>
        <ion-input readonly slot="end" class="font-size-small ion-text-right ion-no-padding-end" value="{{objectSummary.toLocationId|idMapping:objectService.locationMasterList}}"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="done()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>