<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Stock Count</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="false">
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Stock Count</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ng-container *ngIf="stockCountList.length === 0">
      <p>
        <ion-text color="tertiary">
          <h3>Nothing found!</h3>
        </ion-text>
      </p>
    </ng-container>
    <ng-container *ngIf="stockCountList.length > 0">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item button (click)="goToDetail(object.inventoryCountId)" *ngFor="let object of stockCountList">
          <ion-grid class="ion-no-padding p-2">
            <ion-row>
              <ion-col>
                <div class="font-bold">{{object.inventoryCountNum}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>{{object.description}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>                
                <div>{{object.locationCode}} - {{object.locationDescription}}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>{{object.batchNum}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
</ion-content>