<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Transfer Confirmation</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/transactions"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Transfer Confirmation</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ion-list class="list-custom animate__animated animate__fadeIn " lines="none">
      <app-search-dropdown title="Location" optionValue="id" [searchDropdownList]="objectService.locationSearchDropdownList" [selectedId]="selectedLocationId" (onActionComplete)="onLocationChanged($event)"></app-search-dropdown>
    </ion-list>
    
    <ion-list *ngIf="pendingList.length > 0" class="list-custom animate__animated animate__fadeIn mt-2" lines="full">
      <ion-item button detail="false" *ngFor="let p of pendingList" (click)="showModal(p)">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div class="font-bold">{{p.interTransferNum}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{p.trxDate|date:'dd/MM/yyyy'}}</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-flex ion-margin-auto">
              <div>{{p.locationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
            <ion-col class="ion-flex ion-margin-auto justify-content-end">
              <div>{{p.toLocationId|idMapping:objectService.locationMasterList}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

  </div>

</ion-content>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="onModalHide()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Detail</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="hideModal()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="selectedObject">      
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item *ngFor="let l of selectedObject.line">
          <ion-grid class="ion-no-padding">
            <ion-row class="py-1">
              <ion-col size="9" class="ion-flex ion-margin-auto">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div class="font-bold">{{l.itemCode}}</div>
                      <span class="badge-green px-1 mx-1 ion-flex" *ngIf="l.xDesc"> {{l.xDesc}}</span>
                      <span class="badge-green px-1 mx-1 ion-flex" *ngIf="l.yDesc"> {{l.yDesc}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-flex ion-margin-auto">
                      <div>{{l.itemDesc}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row class="pb-1">
                    <ion-col class="ion-flex ion-margin-auto">
                      <div>{{l.barcode}}</div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col size="3" class="ion-flex ion-margin-auto justify-content-end">
                <div>
                  <ion-input class="ml-3 custom ion-text-center" type="number" inputmode="numeric" [min]="0" [(ngModel)]="l.qtyReceive"></ion-input>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>