<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>New Stock Count</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon>Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">New Stock Count</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2"> 
    <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
      <app-calendar-input title="Trx Date" [date_value]="trxDate" (onDateSelected)="onTrxDateSelected($event)"></app-calendar-input>
      <app-search-dropdown title="Location" optionLabel="description" [masterDropdownList]="objectService.locationMasterList" [selectedId]="objectForm?.controls?.locationId?.value" (onActionComplete)="onLocationSelected($event)"></app-search-dropdown>
      <app-search-dropdown #inventoryCountBatchSdd title="Inventory Count Batch" optionLabel="description" [searchDropdownList]="inventoryCountBatchDdl" [selectedId]="objectForm?.controls?.inventoryCountBatchId?.value" (onActionComplete)="onInventoryCountBatchChanged($event)" emptyMessage="This Location do not have Inventory Count Batch" [disabled]="!objectForm.controls.locationId.value"></app-search-dropdown>
      <app-search-dropdown #rackSsd title="Rack" optionLabel="description" [masterDropdownList]="objectService.rackMasterList" [selectedId]="objectForm?.controls?.rackId?.value" (onActionComplete)="onRackChanged($event)"></app-search-dropdown>
      <app-search-dropdown #zoneSsd title="Zone" optionLabel="description" [masterDropdownList]="objectService.zoneMasterList" [selectedId]="objectForm?.controls?.zoneId?.value" (onActionComplete)="onZoneChanged($event)"></app-search-dropdown>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()" [disabled]="!objectForm.valid">
    Next
  </ion-button>
</ion-footer>