<ion-header>
  <ion-toolbar>
    <ion-title>Consignment sales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/transactions"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-label class="label-title">Consignment Sales</ion-label>
    </ion-toolbar>
  </ion-header>
  <div class="p-2">
    <ng-container *ngIf="!objects || objects?.length === 0">
      <p>
        <ion-text color="tertiary">
          <h3>Nothing found!</h3>
        </ion-text>
      </p>
    </ng-container>
    <ng-container *ngIf="objects?.length > 0">      
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item button detail="false" (click)="goToDetail(object.consignmentSalesId)" *ngFor="let object of objects" >
          <ion-label>
            <h3>{{object.consignmentSalesNum}}</h3>
            <p>{{object.trxDate|date:'dd/MM/yyyy'}}</p>
            <div class="font-smaller">Customer: {{object.customerName}}</div>
            <div class="font-smaller">To Location: {{object.toLocationDesc}}</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </div>
  <ion-fab class="ion-fab-custom" vertical="bottom" horizontal="center" slot="fixed" (click)="selectAction()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
