<ion-header>
  <ion-toolbar>
    <ion-title>Insert</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancelInsert()"><ion-icon slot="start" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="showPopover($event)"><ion-icon slot="icon-only" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
  <ng-template>
    <ion-content class="p-2">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item (click)="popover.dismiss(); sendForDebug()">
          <ion-icon slot="end" name="push-outline" color="danger"></ion-icon>
          <ion-label>
            <div>Debug</div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<ion-content>
  <div class="p-2">
    <form class="form-default" [formGroup]="objectForm">
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item>
          <ion-label position="stacked">Code</ion-label>
          <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="Enter Code"
            formControlName="locationPreCode"></ion-input>
          <div *ngIf="objectForm.controls['locationPreCode'].errors && objectForm.controls['locationPreCode'].touched"
            class="font-x-smaller pb-1 color-danger" padding>Code is required</div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="Enter Description"
            formControlName="description"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <app-search-dropdown title="Type" optionLabel="description" optionValue="code"
            [masterDropdownList]="objectService.locationTypeMasterList" [selectedCode]="objectForm?.controls?.locationType?.value"
            (onActionComplete)="onLocationTypeSelected($event)"></app-search-dropdown>
        </ion-item>
        <ion-item class="ion-no-padding">
          <app-search-dropdown title="Price Segement" optionLabel="description" optionValue="code"
            [masterDropdownList]="objectService.priceSegmentMasterList" [selectedCode]="objectForm?.controls?.priceSegmentCode?.value"
            (onActionComplete)="onPriceSegmentSelected($event)"></app-search-dropdown>
        </ion-item>
        <ion-item class="ion-no-padding" *ngIf="objectForm.controls['locationType'].value != 'W'">
          <app-search-dropdown title="Outlet Warehouse" optionLabel="description"
            [masterDropdownList]="objectService.warehouseMasterList" [selectedCode]="objectForm?.controls?.whLocationId?.value"
            (onActionComplete)="onWhLocationSelected($event)"></app-search-dropdown>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Remark</ion-label>
          <ion-textarea autoGrow="true" inputmode="text" type="text" enterkeyhint="enter" placeholder="Enter Remark"
            formControlName="remark"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-list-header class="ion-list-header-small ion-flex">
        <ion-label>Address</ion-label>
      </ion-list-header>
      <ion-list class="list-custom animate__animated animate__fadeIn" lines="full">
        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-textarea autoGrow="true" type="text" enterkeyhint="enter" placeholder="Enter Address"
            formControlName="address"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Postcode</ion-label>
          <ion-textarea autoGrow="true" type="text" enterkeyhint="enter" placeholder="Enter Postcode"
            formControlName="postcode"></ion-textarea>
        </ion-item>
        <app-search-dropdown title="Area" optionLabel="description" [masterDropdownList]="objectService.areaMasterList"
          [selectedId]="objectForm?.controls?.areaId?.value"
          (onActionComplete)="onAreaSelected($event)"></app-search-dropdown>
        <ion-item>
          <ion-label position="stacked">Attention</ion-label>
          <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="Attention"
            formControlName="attention"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email Address</ion-label>
          <ion-input inputmode="email" type="email" email enterkeyhint="next" placeholder="Enter Email"
            formControlName="email" errorText="Invalid email format"></ion-input>
          <div *ngIf="objectForm.controls['email'].errors && objectForm.controls['email'].dirty"
            class="font-x-smaller pb-1 color-danger" padding>Invalid Email</div>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone Number</ion-label>
          <ion-input inputmode="numeric" type="text" enterkeyhint="next" placeholder="Phone Number"
            formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fax Number</ion-label>
          <ion-input inputmode="text" type="text" enterkeyhint="next" placeholder="Fax Number"
            formControlName="fax"></ion-input>
        </ion-item>
        <app-search-dropdown title="State" optionLabel="description"
          [masterDropdownList]="objectService.stateMasterList" [selectedId]="objectForm?.controls?.stateId?.value"
          (onActionComplete)="onStateSelected($event)"></app-search-dropdown>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-padding-bottom-large animate__animated animate__fadeInUp p-0" style="background-color: white;">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button class="ion-margin" expand="block" size="default" (click)="nextStep()"
          [disabled]="!objectForm.valid">
          Confirm
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>